<style>
    .browse_component {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #FAF9F6; /* Alb perlat pentru fundal */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #002B5B; /* Bleumarin pentru text */
    }
    
    .browse_component h3 {
        color: #D4AF37; /* Auriu pentru titlu */
        font-size: 1.8em;
    }

    .browse_component a {
        color: #002B5B; /* Bleumarin pentru linkuri */
        text-decoration: none;
        font-size: 1.1em;
    }

    .browse_component a:hover {
        color: #D4AF37; /* Auriu la hover */
    }

    .browse_component hr {
        border: 0;
        border-top: 1px solid #ECECEC; /* Gri deschis pentru linia de separare */
    }
</style>

<div class="browse_component">
    <h3>
        Browse Eveniment Types
    </h3>
    <div>
        <a href="{% url 'home' %}">Toate</a>
    </div>
    {% for type in types %}
    <div>
        <a href="{% url 'home' %}?q={{ type.name }}">{{ type.name }}</a>
    </div>
    {% endfor %}
    <hr>
</div>
