{% extends 'main.html' %}

{% block content %}


{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter username" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" />
        <input type="submit" name="" id="">
    </form>

    <h5>Don't have a professional account?</h5>
    <a href="{% url 'register' %}">Sign up</a>

</div>

{% else %}

<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
    </form>
    <h5>Already a member?</h5>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}