.col-auto.col-md-2.forcharts {
    position:fixed;
}
.col.py-3.charts {
    margin-left: 12.5%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    overflow-y: auto; 
    max-width: 100%; 
}

.col.py-3.charts .column{
    display: flex;
    flex-direction: column;
}

#EventsChart{
    margin: 10px;
    height:400px !important; 
}
