/* styles.css */

.equal-height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #FAF9F6; /* Alb perlat pentru fundal */
    padding: 15px;
    border: 1px solid #ECECEC; /* Gri deschis pentru borduri */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-top: 30px;
    background-color: #FAF9F6; /* Alb perlat pentru fundal */
    padding: 20px;
}

.task-manager-container,
.carousel-container,
.users-container,
.browse-container,
.locations-container {
    background-color: #FAF9F6;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    padding: 20px;
}

.lower-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 100px;
    background-color: #FAF9F6;
    padding: 20px;
}

/* Accente aurii pentru linkuri sau butoane */
a {
    color: #D4AF37; /* Auriu pentru linkuri */
    text-decoration: none;
}

a:hover {
    color: #2E8B57;
}