<a href="{% url 'home' %}">
    <img  style="width: 80px; height:auto; border-radius: 80px;" src="{{ MEDIA_URL }}logos/logo.jpg" alt="EventEase Logo" height="50">
</a>

<br>

{% if request.user.is_authenticated %}
    {% if request.path == '/' %}
        <h1>Hello {{ user.username }} </h1>
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% else %}
    {% if request.path != '/login/' and request.path != '/register/' %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endif %}


{% if request.user.is_authenticated %}
{% if request.path == '/' %}
<form action="{% url 'home' %}" method="GET">
    <input type="text" name="q" placeholder="Cauta Locatii..."/>
</form>
<hr>
{% if request.user.is_superuser %}
        <a href="{% url 'new_users' %}">New users</a>
        {% endif %}
{% endif %}
{% endif %}
