{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto siderbar col-md-2 px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{% url 'home-admin' %}"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg"
                        alt="EventEase Logo">
                </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin-charts' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-bar-chart-line me-2"></i>
                            <span class="ms-1 d-none d-sm-inline">Charts</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Events</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">EventEase</a></li>
                                <li class="breadcrumb-item active">Events</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="orderList">
                        <div class="card-header border-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Events History</h5>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-6">
                                        <div class="search-box">
                                            <form action="" >
                                                <select name="countries" id="countries" multiple>Search for an Eveniment
                                                    {% for event in events %}
                                                    <option value="{{ forloop.counter0 }}"> {{ event.event_name }} </option>
                                                    {% endfor %}
                                                </select>
                                                </form>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-6">
                                        <div>
                                            <input type="text" class="form-control flatpickr-input"
                                                data-provider="flatpickr" data-date-format="d M, Y"
                                                data-range-date="true" id="demo-datepicker" placeholder="Select date"
                                                readonly="readonly">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                                aria-haspopup="true" aria-expanded="false">
                                                <div class="choices__inner"><select class="form-control choices_input choices-single"
                                                        data-choices="" data-choices-search-false=""
                                                        name="choices-single-default" id="idStatus" hidden=""
                                                        tabindex="-1" data-choice="active">
                                                        <option value="">Status</option>
                                                        <option value="all" selected="">All</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Inprogress">Inprogress</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                        <option value="Pickups">Pickups</option>
                                                        <option value="Returns">Returns</option>
                                                        <option value="Delivered">Delivered</option>
                                                    </select>
                                                    
                                                </div>
                                                <div class="choices__list choices__list--dropdown"
                                                    aria-expanded="false">
                                                    <div class="choices__list" role="listbox">
                                                        <div id="choices--idStatus-item-choice-1"
                                                            class="choices__item choices__item--choice choices__placeholder choices__item--selectable is-highlighted"
                                                            role="option" data-choice="" data-id="1" data-value=""
                                                            data-select-text="Press to select" data-choice-selectable=""
                                                            aria-selected="true">Status</div>
                                                        <div id="choices--idStatus-item-choice-2"
                                                            class="choices__item choices__item--choice is-selected choices__item--selectable"
                                                            role="option" data-choice="" data-id="2" data-value="all"
                                                            data-select-text="Press to select"
                                                            data-choice-selectable="">All</div>
                                                        <div id="choices--idStatus-item-choice-5"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="5"
                                                            data-value="Cancelled" data-select-text="Press to select"
                                                            data-choice-selectable="">Cancelled</div>
                                                        <div id="choices--idStatus-item-choice-8"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="8"
                                                            data-value="Delivered" data-select-text="Press to select"
                                                            data-choice-selectable="">Delivered</div>
                                                        <div id="choices--idStatus-item-choice-4"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="4"
                                                            data-value="Inprogress" data-select-text="Press to select"
                                                            data-choice-selectable="">Inprogress</div>
                                                        <div id="choices--idStatus-item-choice-3"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="3"
                                                            data-value="Pending" data-select-text="Press to select"
                                                            data-choice-selectable="">Pending</div>
                                                        <div id="choices--idStatus-item-choice-6"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="6"
                                                            data-value="Pickups" data-select-text="Press to select"
                                                            data-choice-selectable="">Pickups</div>
                                                        <div id="choices--idStatus-item-choice-7"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="7"
                                                            data-value="Returns" data-select-text="Press to select"
                                                            data-choice-selectable="">Returns</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                                aria-haspopup="true" aria-expanded="false">
                                                <div class="choices__inner"><select class="form-control choices_input choices-single"
                                                        data-choices="" data-choices-search-false=""
                                                        name="choices-single-default" id="idPayment" hidden=""
                                                        tabindex="-1" data-choice="active">
                                                        <option value="">Status</option>
                                                        <option value="all" selected="">All</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Inprogress">Inprogress</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                        <option value="Pickups">Pickups</option>
                                                        <option value="Returns">Returns</option>
                                                        <option value="Delivered">Delivered</option>
                                                    </select>
                                                    
                                                </div>
                                                <div class="choices__list choices__list--dropdown"
                                                    aria-expanded="false">
                                                    <div class="choices__list" role="listbox">
                                                        <div id="choices--idStatus-item-choice-1"
                                                            class="choices__item choices__item--choice choices__placeholder choices__item--selectable is-highlighted"
                                                            role="option" data-choice="" data-id="1" data-value=""
                                                            data-select-text="Press to select" data-choice-selectable=""
                                                            aria-selected="true">Status</div>
                                                        <div id="choices--idStatus-item-choice-2"
                                                            class="choices__item choices__item--choice is-selected choices__item--selectable"
                                                            role="option" data-choice="" data-id="2" data-value="all"
                                                            data-select-text="Press to select"
                                                            data-choice-selectable="">All</div>
                                                        <div id="choices--idStatus-item-choice-5"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="5"
                                                            data-value="Cancelled" data-select-text="Press to select"
                                                            data-choice-selectable="">Cancelled</div>
                                                        <div id="choices--idStatus-item-choice-8"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="8"
                                                            data-value="Delivered" data-select-text="Press to select"
                                                            data-choice-selectable="">Delivered</div>
                                                        <div id="choices--idStatus-item-choice-4"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="4"
                                                            data-value="Inprogress" data-select-text="Press to select"
                                                            data-choice-selectable="">Inprogress</div>
                                                        <div id="choices--idStatus-item-choice-3"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="3"
                                                            data-value="Pending" data-select-text="Press to select"
                                                            data-choice-selectable="">Pending</div>
                                                        <div id="choices--idStatus-item-choice-6"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="6"
                                                            data-value="Pickups" data-select-text="Press to select"
                                                            data-choice-selectable="">Pickups</div>
                                                        <div id="choices--idStatus-item-choice-7"
                                                            class="choices__item choices__item--choice choices__item--selectable"
                                                            role="option" data-choice="" data-id="7"
                                                            data-value="Returns" data-select-text="Press to select"
                                                            data-choice-selectable="">Returns</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-1 col-sm-4">
                                        <div>
                                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                                Filters
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link All py-3 active" data-bs-toggle="tab" id="All" href="#home1"
                                            role="tab" aria-selected="true">
                                            <i class="ri-store-2-fill me-1 align-bottom"></i> All Events
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link py-3 Delivered" data-bs-toggle="tab" id="Delivered"
                                            href="#delivered" role="tab" aria-selected="false" tabindex="-1">
                                            <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Completed
                                            {% if finished_count %}
                                            <span
                                                class="badge bg-danger align-middle ms-1"> {{ finished_count }} </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link py-3 Pickups" data-bs-toggle="tab" id="Pickups"
                                            href="#pickups" role="tab" aria-selected="false" tabindex="-1">
                                            <i class="ri-truck-line me-1 align-bottom"></i> Ongoing 
                                            {% if unfinished_count %}
                                            <span
                                                class="badge bg-danger align-middle ms-1"> {{ unfinished_count }} </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link py-3 Cancelled" data-bs-toggle="tab" id="Cancelled"
                                            href="#cancelled" role="tab" aria-selected="false" tabindex="-1">
                                            <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled
                                        </a>
                                    </li>
                                </ul>

                                <div class="table-responsive table-card mb-1">
                                    <table class="table table-nowrap align-middle" id="orderTable">
                                        <thead class="text-muted table-light">
                                            <tr class="text-uppercase">
                                                <th scope="col" style="width: 25px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkAll"
                                                            value="option">
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort="id">Event ID</th>
                                                <th class="sort" data-sort="customer_name">Organizer</th>
                                                <th class="sort asc" data-sort="product_name">Event Name</th>
                                                <th class="sort" data-sort="date">Event Date and Time</th>
                                                <th class="sort" data-sort="amount">Guests</th>
                                                <th class="sort" data-sort="payment">Event's Price</th>
                                                <th class="sort" data-sort="status">Status</th>
                                                <th class="sort" data-sort="city">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                            
                                            {% for item in detailed_events %}
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll"
                                                            value="option{{ forloop.counter0 }}">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="{% url 'admin-view-event' item.name %}"
                                                        class="fw-medium link-primary"> # {{ item.id }} </a></td>
                                                <td class="customer_name"> {{ item.organized_by }} </td>
                                                <td class="product_name"> {{ item.name }} </td>
                                                <td class="date"> {{ item.event_date }} <small class="text-muted"> {{ item.event_time }} </small>
                                                </td>
                                                <td class="amount"> {{ item.guest_count }} </td>
                                                <td class="payment"> {{ item.cost }}$ </td>
                                                {% if item.completed == True %}
                                                <td class="status"><span
                                                    class="badge bg-success-subtle text-success text-uppercase">Completed</span>
                                                </td>
                                                {% elif item.completed == False %}
                                                <td class="status"><span
                                                    class="badge bg-info-subtle text-info text-uppercase">INPROGRESS</span>
                                            </td>


                                                {% endif %}
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="View">
                                                            <a href="{% url 'admin-view-event' item.name %}"
                                                                class="text-primary d-inline-block">
                                                                <i style="color:#D4AF37;" class="bi bi-eye fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn" data-id="
                                                            {{ item.id }},
                                                            {{ item.cost }},
                                                            {{ item.name }},
                                                            {{ item.organized_by }},
                                                            {{ item.location }},
                                                            {{ item.event_date }}
                                                            ">
                                                                <i style="color:rgb(20, 24, 52);" class="bi bi-pencil fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn"
                                                                data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="bi bi-trash fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center">
                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                colors="primary:#405189,secondary:#0ab39c"
                                                style="width:75px;height:75px"></lord-icon>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                            <p class="text-muted">We've searched more than 150+ Orders We did not find
                                                any orders for you search.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="pagination-wrap hstack gap-2" style="display: flex;">
                                        <a class="page-item pagination-prev disabled" href="#">
                                            Previous
                                        </a>
                                        <ul class="pagination listjs-pagination mb-0">
                                            <li class="active"><a class="page" href="#" data-i="1" data-page="8">1</a>
                                            </li>
                                            <li><a class="page" href="#" data-i="2" data-page="8">2</a></li>
                                        </ul>
                                        <a class="page-item pagination-next" href="#">
                                            Next
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light p-3">
                                            <h5 class="modal-title" id="exampleModalLabel">&nbsp;Edit event</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close" id="close-modal"></button>
                                        </div>
                                        <form class="tablelist-form" autocomplete="off">
                                            <div class="modal-body">
                                                <input type="hidden" id="id-field">

                                                <div class="mb-3" id="modal-id">
                                                    <label for="orderId" class="form-label">ID</label>
                                                    <input type="text" id="orderId" class="form-control"
                                                        placeholder="ID" readonly="">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="customername-field" class="form-label">Organizer
                                                        </label>
                                                    <input type="text" id="orderCost" class="form-control"
                                                        placeholder="Enter name" required="">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="productname-field" class="form-label">Event name</label>
                                                    <input type="text" id="eventName" class="form-control"
                                                        placeholder="Enter name" required="">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="date-field" class="form-label">Event Date</label>
                                                    <input type="text" id="eventDate"
                                                        class="form-control flatpickr-input" data-provider="flatpickr"
                                                        required="" data-date-format="d M, Y" data-enable-time=""
                                                        placeholder="Select date" readonly="readonly">
                                                </div>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="button" class="btn btn-light"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success" id="add-btn">Update Event</button>
                                                    <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body p-5 text-center">
                                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                                colors="primary:#405189,secondary:#f06548"
                                                style="width:90px;height:90px"></lord-icon>
                                            <div class="mt-4 text-center">
                                                <h4>You are about to delete a event ?</h4>
                                                <p class="text-muted fs-15 mb-4">Deleting your event will remove all of
                                                    it's information from our database.</p>
                                                <div class="hstack gap-2 justify-content-center remove">
                                                    <button
                                                        class="btn btn-link link-success fw-medium text-decoration-none"
                                                        id="deleteRecord-close" data-bs-dismiss="modal"><i
                                                            class="ri-close-line me-1 align-middle"></i> Close</button>
                                                    <button class="btn btn-danger" id="delete-record">Yes, Delete
                                                        It</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end col-->
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('countries')
    document.querySelector('.mult-select-tag .input').setAttribute('placeholder', 'Search for an event');

</script>
{% endblock content %}
{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const eventDateInput = document.getElementById('eventDate');
    const flatpickrInstance = flatpickr(eventDateInput, {
        dateFormat: "d M, Y",
    });

    document.querySelectorAll('.edit-item-btn').forEach(function (editButton) {
        editButton.addEventListener('click', function (event) {
            const dataId = event.target.closest('a').getAttribute('data-id');
            const [eventId, eventCost, eventName, eventOrganizer, eventLocation, eventDate, eventDate2] =
                dataId.split(',').map(value => value.trim());
            const fullEventDate = `${eventDate} ${eventDate2}`; 
            
            console.log('Full Event Date:', fullEventDate);
            const parsedDate = new Date(fullEventDate);
            if (isNaN(parsedDate.getTime())) {
                console.error("Data nu este validă:", fullEventDate);
                return;
            }

            const formattedDate = parsedDate.toLocaleDateString('en-GB', {
                day: '2-digit',
                month: 'short',
                year: 'numeric',
            }); 

            console.log('Formatted Date:', formattedDate);

            if (flatpickrInstance) {
                flatpickrInstance.setDate(formattedDate, true);
            } else {
                console.error("Flatpickr nu este inițializat corect.");
            }
            document.getElementById('orderId').value = eventId;
            document.getElementById('orderCost').value = eventOrganizer;
            document.getElementById('eventName').value = eventName;
            document.getElementById('eventOrganizer').value = eventOrganizer;
            document.getElementById('eventLocation').value = eventLocation;
        });
    });
});

</script>

<script>

document.addEventListener('DOMContentLoaded', function () {
  const statusElement = document.getElementById('idStatus');
  const paymentElement = document.getElementById('idPayment');

  function resetChoices(element) {
    if (element.choicesInstance) {
      element.choicesInstance.destroy(); // Distruge instanța existentă
      element.choicesInstance = null;
    }
    // Restaurează elementul select la forma inițială
    element.removeAttribute('hidden'); // Asigură-te că este vizibil
    const clonedElement = element.cloneNode(true); // Clonează structura originală
    element.replaceWith(clonedElement); // Înlocuiește vechiul element
    return clonedElement; // Returnează elementul resetat
  }

  // Resetează elementele
  const resetStatusElement = resetChoices(statusElement);
  const resetPaymentElement = resetChoices(paymentElement);

  console.log('Element before reinitialization:', resetStatusElement);

  // Inițializează Choices.js
  resetStatusElement.choicesInstance = new Choices(resetStatusElement, {
    searchEnabled: false,
    itemSelectText: '',
    shouldSort: false,
  });

  resetPaymentElement.choicesInstance = new Choices(resetPaymentElement, {
    searchEnabled: false,
    itemSelectText: '',
    shouldSort: false,
  });

  console.log('Choices initialized successfully for idStatus and idPayment');
});


</script>
{% endblock %}
