{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
<div class="col-auto siderbar forevents col-md-2 px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{% url 'home-admin' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg" alt="EventEase Logo">
                    </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> 
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                   
                
                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>
                
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile_set.first.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'admin_account_settings' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 events">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
         <div class="content container-fluid">
            <div class="row justify-content-lg-center">
               <div class="col-lg-10">
                  <div class="profile-cover" style="position: relative;">
                     <div class="profile-cover-img-wrapper">
                         <img style="width: 100%; height: 300px; object-fit:cover;" class="logo" src="{{ MEDIA_URL }}logos/Login Picture.jpg" alt="EventEase Logo">
                     </div>
                 </div>
                 
                 <div class="text-center mb-5" style="position: relative;">
                     <div class="avatar avatar-xxl avatar-circle profile-cover-avatar" 
                          style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%);">
                         <img class="avatar-img" 
                              style="width: 100px; height: 100px; border-radius: 50%;" 
                              src="{{ user.profile_set.first.photo.url }}" 
                              alt="Image Description">
                         <span class="avatar-status avatar-status-success"></span>
                     </div>
                 </div>
                  <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
                     <ul class="nav nav-tabs align-items-center">
                        <li class="nav-item">
                           <a class="nav-link active" href="">Profile</a>
                        </li>
            
                        <li class="nav-item">
                           <a class="nav-link " href="{% url 'view_user_events' user.username %}">Events <span class="badge bg-soft-dark text-dark rounded-circle ms-1">{{ count_events }}</span></a>
                        </li>
                     
                        <li class="nav-item">
                           <a class="nav-link " href="{% url 'view_user_locations' user.username %}">Locations <span class="badge bg-soft-dark text-dark rounded-circle ms-1">{{ count_locations }}</span></a>
                        </li>
                        
                     </ul>
                  </div>
                  <!-- End Nav -->
                  <div class="row">
                     <div class="col-lg-4">
                       
                        <div id="accountSidebarNav"></div>
                        <div class="column">
                           <div class="js-sticky-block card mb-3 mb-lg-5" data-hs-sticky-block-options="{
                              &quot;parentSelector&quot;: &quot;#accountSidebarNav&quot;,
                              &quot;breakpoint&quot;: &quot;lg&quot;,
                              &quot;startPoint&quot;: &quot;#accountSidebarNav&quot;,
                              &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                              &quot;stickyOffsetTop&quot;: 20
                              }">
                              <!-- Header -->
                              <div class="card-header">
                                 <h4 class="card-header-title">Profile</h4>
                              </div>
                              <!-- End Header -->
                              <!-- Body -->
                              <div class="card-body">
                                 <ul class="list-unstyled list-py-2 text-dark mb-0">
                                    <li class="pb-0"><span class="card-subtitle">About</span></li>
                                    <li><i class="bi-person dropdown-item-icon"></i> {{ user.first_name }} {{ user.last_name }}</li>
                                    <li><i class="bi bi-calendar"></i></i> {{ user.profile_set.first.age }} years old </li>
                                    <li><i class="bi bi-briefcase"></i> Joined in  {{ user.date_joined }} </li>
                                    <li class="pt-4 pb-0"><span class="card-subtitle">Contacts</span></li>
                                    <li><i class="bi-at dropdown-item-icon"></i> {{ user.email }}</li>
                                    <li><i class="bi-phone dropdown-item-icon"></i> {{ user.profile_set.first.number }}</li>
                                    <li class="pt-4 pb-0"><span class="card-subtitle">Management</span></li>
                                    <li><i class="bi-people dropdown-item-icon"></i> Organizer of {{ count_events }} event/s</li>
                                    <li><i class="bi-stickies dropdown-item-icon"></i> Managing {{ count_locations }} locations</li>
                                 </ul>
                              </div>
                              <!-- End Body -->
                           </div>
                           <div class="col-sm-6 w-100" >
                              <!-- Card -->
                              <div class="card h-100">
                                 <!-- Header -->
                                 <div class="card-header">
                                    <h4 class="card-header-title">Locations</h4>
                                 </div>
                                 <div class="card-body">
                                    <ul class="nav nav-pills card-nav card-nav-vertical nav-pills">
                                       {% for location in detailed_locations %}
                                       <li>
                                          <a class="nav-link" href="{% url 'admin-view-location' location.location_name %}">
                                             <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                   <i class="bi bi-map"></i>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                   <span class="d-block text-dark">{{ location.location_name }}</span>
                                                   {% if location.ev_count > 0 %}
                                                   <small class="d-block text-muted">{{ location.ev_count }} Event</small>
                                                   {% else %}
                                                   <small class="d-block text-muted">No events at this location</small>
                                                   {% endif %}
                                                </div>
                                             </div>
                                          </a>
                                       </li>
                                    {% endfor %}
                                    </ul>
                                 </div>
                                 <!-- End Body -->
                                 <!-- Footer -->
                                 <a class="card-footer text-center" href="{% url 'view_user_locations' user.username %}">
                                 View all locations <i class="bi-chevron-right"></i>
                                 </a>
                                 <!-- End Footer -->
                              </div>
                              <!-- End Card -->
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class="d-grid gap-3 gap-lg-5">
                           <div class="card">
                              <div class="card-header card-header-content-between">
                                 <h4 class="card-header-title">Recent Activity</h4>
                                
                              </div>
                              <div class="card-body card-body-height" style="height: auto;">
                                 <ul class="step step-icon-xs mb-0">
                                    {% for notification in notifications %}
                                    <li class="step-item">
                                       <div class="step-content-wrapper">
                                          <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>
                                          <div class="step-content">
                                             <h5 class="step-title">
                                                <a class="text-dark" href="#">{{ notification.action_type }}</a>
                                             </h5>
                                             {% if notification.action_type == "updated_location" %}
                                       Modified <a href="{% url 'admin_view_location' notification.target_object_name %}">location</a> at {{ notification.timestamp }}
                                    {% elif notification.action_type == "created_event" %}
                                       Created <a href="{% url 'admin_view_event' notification.target_object_name %}">event</a> at {{ notification.timestamp }}
                                    {% elif notification.action_type == "updated_profile" %}
                                       Updated <a href="{% url 'admin_view_user' notification.target_object_name %}">profile</a> at {{ notification.timestamp }}
                                    {% endif %}
                                          </div>
                                       </div>
                                    </li>
                                    {% empty %}
                                    <h4><i class="bi bi-bell"></i>  No recent Activity</h2>
                                    {% endfor %}
                                 </ul>
                              </div>
                             
                           </div>
                           <div class="row">
                           
                        
                           </div>
                           <div class="card">
                              <div class="card-header card-header-content-between">
                                 <h4 class="card-header-title">Events</h4>
                                
                              </div>
                              <div class="table-responsive">
                                 <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                                    <thead class="thead-light">
                                       <tr>
                                          <th>Project</th>
                                          <th style="width: auto;">Progress</th>
                                          <th class="table-text-end">Confirmed Guests</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                      {% for event in events %}
                                      <tr>
                                       <td>
                                          <div class="d-flex">
                                             <img class="avatar" style="width: 50px; " src="{{ event.location.gallery.url }}" alt="Image Description">
                                             <div class="ms-3">
                                                <h5 class="mb-0"> <a href=" {% url 'admin-view-event' event.event_name %} ">{{ event.event_name }}</a> </h5>
                                                <small>Updated 1 day ago</small>
                                             </div>
                                          </div>
                                       </td>
                                       <td>
                                          <div class="d-flex align-items-center">
                                             <span class="me-3">{% if event.is_canceled == True %} <span
                                                class="badge bg-danger-subtle text-danger text-uppercase">Cancelled</span></span> 
                                                {% elif event.completed == True %}
                                                <span
                                                    class="badge bg-success-subtle text-success text-uppercase">Completed</span>
                                                {% elif event.event_date > today %}
                                                <span
                                                    class="badge bg-info-subtle text-info text-uppercase">Upcoming</span>
                                                
                                                {% endif %}
                                             
                                          </div>
                                       </td>
                                       <td class="table-text-end">123</td>
                                    </tr>
                                      {% endfor %}
                                       
                                    </tbody>
                                 </table>
                              </div>
                              <a class="card-footer text-center" href="{% url 'view_user_events' user.username %}">
                              View all events <i class="bi-chevron-right"></i>
                              </a>
                           </div>
                        </div>
                        <div id="stickyBlockEndPoint"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
</div>

{% endblock content %}
