{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
<div class="col-auto siderbar col-md-2 forevents px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{% url 'home-admin' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg" alt="EventEase Logo">
                    </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> 
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                   
                
                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>
                
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile_set.first.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'admin_account_settings' %}">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 events">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                            <h4 class="mb-sm-0">Location Details</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">EventEase</a></li>
                                    <li class="breadcrumb-item active">Location Details</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gx-lg-5">
                                    <div class="col-xl-4 col-md-8 mx-auto">
                                        <div class="location-img-slider sticky-side-div">
                                            <div class="swiper location-thumbnail-slider p-2 rounded bg-light swiper-initialized swiper-horizontal swiper-backface-hidden">
                                                <div class="swiper-wrapper" id="swiper-wrapper-cb212816c6bb95c7" aria-live="polite">
                                                    <div class="swiper-slide swiper-slide-active"  role="group" aria-label="1 / 4">
                                                        <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                    </div>
                                                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 4">
                                                        <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                    </div>
                                                    <div class="swiper-slide"  role="group" aria-label="3 / 4">
                                                        <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                    </div>
                                                    <div class="swiper-slide" role="group" aria-label="4 / 4" >
                                                        <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                    </div>
                                                </div>
                                                <div style="color:#D4AF37" class="swiper-button-next material-shadow" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-cb212816c6bb95c7" aria-disabled="false"></div>
                                                <div style="color:#D4AF37" class="swiper-button-prev material-shadow swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-cb212816c6bb95c7" aria-disabled="true"></div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                                            <!-- end swiper thumbnail slide -->
                                            <div class="swiper location-nav-slider mt-2 swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                                                <div class="swiper-wrapper" id="swiper-wrapper-9d1b1a3c4affc1068" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active swiper-slide-thumb-active" style="width: 159px; margin-right: 10px;" role="group" aria-label="1 / 4">
                                                        <div class="nav-slide-item">
                                                            <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" style="width: 159px; margin-right: 10px;" role="group" aria-label="2 / 4">
                                                        <div class="nav-slide-item">
                                                            <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" style="width: 159px; margin-right: 10px;" role="group" aria-label="3 / 4">
                                                        <div class="nav-slide-item">
                                                            <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" role="group" aria-label="4 / 4" style="width: 159px; margin-right: 10px;">
                                                        <div class="nav-slide-item">
                                                            <img src=" {{ location.gallery.url }} " alt="" class="img-fluid d-block">
                                                        </div>
                                                    </div>
                                                </div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                                            <!-- end swiper nav slide -->
                                        </div>
                                    </div>
                                    <!-- end col -->

                                    <div class="col-xl-8">
                                        <div class="mt-xl-0 mt-5">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <h4> {{location.name}} </h4>
                                                    <div class="hstack gap-3 flex-wrap">
                                                        <div>
                                                            <a style="color:#D4AF37 !important" href="#" class="text-primary d-block">
                                                                {% if location.seats_numbers >= 300 %}
                                                                    Big Location
                                                                {% elif location.seats_numbers >= 200 %}
                                                                    Medium Location
                                                                {% else %}
                                                                    Small Location
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                                                                                <div class="vr"></div>
                                                        <div class="text-muted">Added by : <span class="text-body fw-medium"> {{ location.owner }} </span></div>
                                                        <div class="vr"></div>
                                                        <div class="text-muted">Added at : <span class="text-body fw-medium"> {{ location.created_at }} </span></div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="d-flex flex-wrap gap-2 align-items-center mt-3">
                                                <div class="text-muted fs-16">
                                                    <span class="mdi mdi-star text-warning"></span>
                                                    <span class="mdi mdi-star text-warning"></span>
                                                    <span class="mdi mdi-star text-warning"></span>
                                                    <span class="mdi mdi-star text-warning"></span>
                                                    <span class="mdi mdi-star text-warning"></span>
                                                </div>
                                                <div class="text-muted"> {% if reviews_count %}( {{ reviews_count }} {% if reviews_count == 1 %} Guest {% else %} Guests {% endif %} Review ) {% else %} No reviews yet {% endif %} </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col-lg-3 col-sm-6">
                                                    <div class="p-2 border border-dashed rounded">
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-sm me-2">
                                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                                    <i class="ri-money-dollar-circle-fill"></i>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <p class="text-muted mb-1">Price :</p>
                                                                <h5 class="mb-0"> ${{ location.cost }} </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div class="p-2 border border-dashed rounded">
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-sm me-2">
                                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                                    <i class="ri-file-copy-2-fill"></i>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <p class="text-muted mb-1">No. of Seats :</p>
                                                                <h5 class="mb-0"> {{ location.seats_numbers }} </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div class="p-2 border border-dashed rounded">
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-sm me-2">
                                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                                    <i class="ri-stack-fill"></i>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <p class="text-muted mb-1">Events :</p>
                                                                <h5 class="mb-0"> {{ events_count }} </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div class="p-2 border border-dashed rounded">
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar-sm me-2">
                                                                <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                                    <i class="ri-inbox-archive-fill"></i>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <p class="text-muted mb-1">Total profit: </p>
                                                                <h5 class="mb-0">${{profit}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mt-4 text-muted">
                                                <h5 class="fs-14">Description :</h5>
                                                <p> {{ location.description }} </p>
                                            </div>

                                           
                                            <div class="location-content mt-5">
                                                <h5 class="fs-14 mb-3">Location Description :</h5>
                                                <nav>
                                                    <ul class="nav nav-tabs nav-tabs-custom nav-success" id="nav-tab" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link active" id="nav-speci-tab" data-bs-toggle="tab" href="#nav-speci" role="tab" aria-controls="nav-speci" aria-selected="true">Specification</a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a class="nav-link" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="false" tabindex="-1">Details</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                                <div class="tab-content border border-top-0 p-4" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="nav-speci" role="tabpanel" aria-labelledby="nav-speci-tab">
                                                        <div class="table-responsive">
                                                            <table class="table mb-0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row" style="width: 200px;">Category</th>
                                                                        <td>{% if location.seats_numbers >= 300 %}
                                                                            Big Location
                                                                        {% elif location.seats_numbers >= 200 %}
                                                                            Medium Location
                                                                        {% else %}
                                                                            Small Location
                                                                        {% endif %}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">Organizer</th>
                                                                        <td> {{ location.owner }} </td>
                                                                    </tr>
                            
                                                                    <tr>
                                                                        <th scope="row">Guests</th>
                                                                        <td> {{ location.seats_numbers }} </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                                                        <div>
                                                            <h5 class="font-size-16 mb-3"> {{ location.name }} </h5>
                                                            <p> {{ location.description }} </p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mt-5">
                                                <div>
                                                    <h5 class="fs-14 mb-3">Ratings &amp; Reviews</h5>
                                                </div>
                                                <div class="row gy-4 gx-0">
                                                    <div class="col-lg-4">
                                                        <div>
                                                            <div class="pb-3">
                                                                <div class="bg-light px-3 py-2 rounded-2 mb-2">
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-grow-1">
                                                                            <div class="fs-16 align-middle text-warning">
                                                                                <span class="star filled">★</span>
                                                                                <span class="star filled">★</span>
                                                                                <span class="star filled">★</span>
                                                                                <span class="star filled">★</span>
                                                                                <span class="star half">★</span>

                                                                            </div>
                                                                        </div>
                                                                        <div class="flex-shrink-0">
                                                                            <h6 class="mb-0">4.5 out of 5</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    <div class="text-muted">Total <span class="fw-medium"> {{ reviews_count }} </span> reviews
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mt-3">
                                                                <div class="row align-items-center g-2">
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0">5 star</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="p-2">
                                                                            <div class="progress animated-progress progress-sm">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 50.16%" aria-valuenow="50.16" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0 text-muted">2758</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- end row -->

                                                                <div class="row align-items-center g-2">
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0">4 star</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="p-2">
                                                                            <div class="progress animated-progress progress-sm">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 19.32%" aria-valuenow="19.32" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0 text-muted">1063</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row align-items-center g-2">
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0">3 star</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="p-2">
                                                                            <div class="progress animated-progress progress-sm">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 18.12%" aria-valuenow="18.12" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0 text-muted">997</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row align-items-center g-2">
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0">2 star</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="p-2">
                                                                            <div class="progress animated-progress progress-sm">
                                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 7.42%" aria-valuenow="7.42" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0 text-muted">408</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row align-items-center g-2">
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0">1 star</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="p-2">
                                                                            <div class="progress animated-progress progress-sm">
                                                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 4.98%" aria-valuenow="4.98" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <div class="p-2">
                                                                            <h6 class="mb-0 text-muted">274</h6>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="ps-lg-4">
                                                            <div class="d-flex flex-wrap align-items-start gap-3">
                                                                <h5 class="fs-14">Reviews: </h5>
                                                            </div>

                                                            <div class="me-lg-n3 pe-lg-4 simplebar-scrollable-y" data-simplebar="init" style="max-height: 225px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
                                                                <ul class="list-unstyled mb-0" style="max-height: 225px;">
                                                                    {% if reviews %}
                                                                    {% for review in reviews %}
                                                                    <li class="py-2">
                                                                        <div class="border border-dashed rounded p-3">
                                                                            <div class="d-flex align-items-start mb-3">
                                                                                <div class="hstack gap-3">
                                                                                    <div class="badge rounded-pill bg-success mb-0">
                                                                                        <i class="mdi mdi-star"></i> {{ review.stars }}
                                                                                    </div>
                                                                                    <div class="vr"></div>
                                                                                    <div class="flex-grow-1">
                                                                                        <p class="text-muted mb-0">  {{ review.comment }} </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="d-flex flex-grow-1 gap-2 mb-3">
                                                                                <a href="#" class="d-block">
                                                                                    <img src="assets/images/small/img-12.jpg" alt="" class="avatar-sm rounded object-fit-cover material-shadow">
                                                                                </a>
                                                                                <a href="#" class="d-block">
                                                                                    <img src="assets/images/small/img-11.jpg" alt="" class="avatar-sm rounded object-fit-cover material-shadow">
                                                                                </a>
                                                                                <a href="#" class="d-block">
                                                                                    <img src="assets/images/small/img-10.jpg" alt="" class="avatar-sm rounded object-fit-cover material-shadow">
                                                                                </a>
                                                                            </div>

                                                                            <div class="d-flex align-items-end">
                                                                                <div class="flex-grow-1">
                                                                                    <h5 class="fs-14 mb-0">{{ review.user }}</h5>
                                                                                </div>

                                                                                <div class="flex-shrink-0">
                                                                                    <p class="text-muted fs-13 mb-0">12 Jul, 21</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    

                                                                    {% endfor %}
                                                                    {% else %}
                                                                    <h1>No reviews yet</h1>
                                                                    {% endif %}
                                                                </ul>
                                                            </div></div></div></div><div class="simplebar-placeholder" style="width: 666px; height: 484px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 104px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
                                                        </div>
                                                    </div>
                                                    <!-- end col -->
                                                </div>
                                                <!-- end Ratings & Reviews -->
                                            </div>
                                            <!-- end card body -->
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!--end row-->

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const swiperThumbnail = new Swiper('.location-thumbnail-slider', {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    const swiperNav = new Swiper('.location-nav-slider', {
        slidesPerView: 4,
        spaceBetween: 10,
        freeMode: true,
        watchSlidesProgress: true,
    });

    swiperThumbnail.controller.control = swiperNav;
    swiperNav.controller.control = swiperThumbnail;
});

</script>
<style>
    .star{
        font-size:25px;
    }
    .star.half {
    font-size: 25px;
    background: linear-gradient(to right, gold 50%, lightgray 50%);
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent;
    display: inline-block;
}
</style>
{% endblock content %}

