{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
<div class="col-auto siderbar col-md-2 forevents px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{% url 'home-admin' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg" alt="EventEase Logo">
                    </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> 
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                    
                
                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 events" >
            <div class="card" id="top"></div>
            <main id="content" role="main" class="main">
                <!-- Content -->
                <div class="content container-fluid">
                   <!-- Page Header -->
                   <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                                <h4 class="mb-sm-0">Account Settings</h4>
      
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">EventEase</a></li>
                                        <li class="breadcrumb-item active">Account Settings</li>
                                    </ol>
                                </div>
      
                            </div>
                        </div>
                       <div class="col-sm-auto mt-2 mb-5" style="margin-left: auto;">
                          <a class="btn" style="color:rgb(41, 50, 122)" href="./user-profile-my-profile.html">
                          <i class="bi-person-fill me-1"></i> My profile
                          </a>
                       </div>
                    </div>
                 </div>
                   <div class="row">
                      <div class="col-lg-3">
                         <div class="navbar-expand-lg navbar-vertical mb-3 mb-lg-5">
                            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse" style="">
                               <ul id="navbarSettings" class="js-sticky-block js-scrollspy card card-navbar-nav nav nav-tabs nav-lg nav-vertical" data-hs-sticky-block-options="{
                                  &quot;parentSelector&quot;: &quot;#navbarVerticalNavMenu&quot;,
                                  &quot;targetSelector&quot;: &quot;#header&quot;,
                                  &quot;breakpoint&quot;: &quot;lg&quot;,
                                  &quot;startPoint&quot;: &quot;#navbarVerticalNavMenu&quot;,
                                  &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                                  &quot;stickyOffsetTop&quot;: 20
                                  }" style="">
                                  <li class="nav-item">
                                     <a class="nav-link" href="#top">
                                     <i class="bi-person nav-icon"></i> Basic information
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" href="#emailSection">
                                     <i class="bi-at nav-icon"></i> Email
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" href="#passwordSection">
                                     <i class="bi-key nav-icon"></i> Password
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" href="#recentDevicesSection">
                                     <i class="bi-phone nav-icon"></i> Recent devices
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" href="#socialAccountsSection">
                                     <i class="bi-instagram nav-icon"></i> Social accounts
                                     </a>
                                  </li>
                                  <li class="nav-item">
                                     <a class="nav-link" href="#deleteAccountSection">
                                     <i class="bi-trash nav-icon"></i> Delete account
                                     </a>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-9">
                         <div class="d-grid gap-3 gap-lg-5">
                            <div class="card" id="top">
                               <div class="profile-cover">
                                <div class="profile-cover" style="position: relative;">
                                    <div class="profile-cover-img-wrapper">
                                        <img style="width: 100%; height: 300px; object-fit:cover;" class="logo" src="{{ MEDIA_URL }}logos/Login Picture.jpg" alt="EventEase Logo">
                                    </div>
                                </div>
                               </div>
                               <form action="" method="POST" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 <input type="hidden" name="form_type" value="form_1">
                               <div style="position: relative; height: 100px; text-align: center;">
                                <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" for="editAvatarUploaderModal" style="
                                  position: absolute; 
                                  top: 50%; 
                                  left: 50%; 
                                  transform: translate(-50%, -80%);
                                  margin-top: -50px;">
                                    <img id="editAvatarImgModal" class="rounded-circle mx-auto d-block" 
                                         style="width: 150px !important;
                                                height:150px; 
                                                border: 5px solid #fff;" 
                                         src="{{ request.user.profile.photo.url }}" alt="Image Description"
                                         >
                                    
                                    <input type="file" style="display: none;" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal" 
                                           data-hs-file-attach-options="{
                                              &quot;textTarget&quot;: &quot;#editAvatarImgModal&quot;,
                                              &quot;mode&quot;: &quot;image&quot;,
                                              &quot;targetAttr&quot;: &quot;src&quot;,
                                              &quot;allowTypes&quot;: [&quot;.png&quot;, &quot;.jpeg&quot;, &quot;.jpg&quot;]
                                            }" onchange="updateImage(event)"
                                            name="profile_photo"
                                            >
                                    
                                    <span class="avatar-uploader-trigger" 
                                          style="display: inline-flex; 
                                                 justify-content: center; 
                                                 align-items: center; 
                                                 width: 40px; 
                                                 height: 40px; 
                                                 border-radius: 50%; 
                                                 background-color: #fff; 
                                                 position: absolute; 
                                                 bottom: -10px; 
                                                 right: 5px;">
                                        <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
                                    </span>
                                </label>
                            </div>
                            
                           
                            </div>
                            <div class="card">
                               <div class="card-header">
                                  <h2 class="card-title h4">Basic information</h2>
                               </div>
                               <div class="card-body">
                                     <div class="row mb-4">
                                        <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Full name </label>
                                        <div class="col-sm-9">
                                           <div class="input-group input-group-sm-vertical">
                                              <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Your first name" aria-label="Your first name" value="{{ request.user.first_name }}">
                                              <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="Your last name" aria-label="Your last name" value="{{ request.user.last_name }}">
                                           </div>
                                        </div>
                                     </div>
                                     <div class="row mb-4">
                                        <label for="emailLabel" class="col-sm-3 col-form-label form-label">Email</label>
                                        <div class="col-sm-9">
                                           <input type="email" class="form-control" name="email" id="emailLabel" placeholder="Email" aria-label="Email" value="{{ request.user.email }}">
                                        </div>
                                     </div>
                                     <div class="row mb-4">
                                       <label for="username" class="col-sm-3 col-form-label form-label">Username</label>
                                       <div class="col-sm-9">
                                          <input type="text" class="form-control" name="username" id="username" placeholder="Your username" value="{{ request.user.username }}" aria-label="Your address" >
                                       </div>
                                    </div>
                                     <div class="row mb-4">
                                        <label for="phoneLabel" class="col-sm-3 col-form-label form-label">Phone </label>
                                        <div class="col-sm-9">
                                           <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="{{ request.user.profile.number }}" data-hs-mask-options="{
                                              &quot;mask&quot;: &quot;+0(000)000-00-00&quot;
                                              }">
                                        </div>
                                     </div>
                   <div class="row mb-4">
                                       <label for="test-select" class="col-sm-3 col-form-label form-label" id="locationLabel-ts-label">Location: </label>
                                       <div class="col-sm-9">
                                           <select id="test-select" name="location" class="js-select form-select" tabindex="-1">
                                             <option value="Alba" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Alba</span></span>">Alba</option>
                                             <option value="Arad" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Arad</span></span>">Arad</option>
                                             <option value="Argeș" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Argeș</span></span>">Argeș</option>
                                             <option value="Bacău" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Bacău</span></span>">Bacău</option>
                                             <option value="Bihor" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Bihor</span></span>">Bihor</option>
                                             <option value="Bistrița-Năsăud" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Bistrița-Năsăud</span></span>">Bistrița-Năsăud</option>
                                             <option value="Botoșani" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Botoșani</span></span>">Botoșani</option>
                                             <option value="Brașov" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Brașov</span></span>">Brașov</option>
                                             <option value="Brăila" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Brăila</span></span>">Brăila</option>
                                             <option value="București" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>București</span></span>">București</option>
                                             <option value="Buzău" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Buzău</span></span>">Buzău</option>
                                             <option value="Caraș-Severin" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Caraș-Severin</span></span>">Caraș-Severin</option>
                                             <option value="Cluj" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Cluj</span></span>">Cluj</option>
                                             <option value="Constanța" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Constanța</span></span>">Constanța</option>
                                             <option value="Covasna" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Covasna</span></span>">Covasna</option>
                                             <option value="Dâmbovița" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Dâmbovița</span></span>">Dâmbovița</option>
                                             <option value="Dolj" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Dolj</span></span>">Dolj</option>
                                             <option value="Galați" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Galați</span></span>">Galați</option>
                                             <option value="Giurgiu" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Giurgiu</span></span>">Giurgiu</option>
                                             <option value="Gorj" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Gorj</span></span>">Gorj</option>
                                             <option value="Harghita" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Harghita</span></span>">Harghita</option>
                                             <option value="Hunedoara" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Hunedoara</span></span>">Hunedoara</option>
                                             <option value="Ialomița" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Ialomița</span></span>">Ialomița</option>
                                             <option value="Iași" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Iași</span></span>">Iași</option>
                                             <option value="Ilfov" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Ilfov</span></span>">Ilfov</option>
                                             <option selected="" value="Maramureș" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Maramureș</span></span>">Maramureș</option>
                                             <option value="Mehedinți" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Mehedinți</span></span>">Mehedinți</option>
                                             <option value="Mureș" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Mureș</span></span>">Mureș</option>
                                             <option value="Neamț" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Neamț</span></span>">Neamț</option>
                                             <option value="Olt" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Olt</span></span>">Olt</option>
                                             <option value="Prahova" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Prahova</span></span>">Prahova</option>
                                             <option value="Satu Mare" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Satu Mare</span></span>">Satu Mare</option>
                                             <option value="Sălaj" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Sălaj</span></span>">Sălaj</option>
                                             <option value="Sibiu" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Sibiu</span></span>">Sibiu</option>
                                             <option value="Suceava" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Suceava</span></span>">Suceava</option>
                                             <option value="Teleorman" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Teleorman</span></span>">Teleorman</option>
                                             <option value="Timiș" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Timiș</span></span>">Timiș</option>
                                             <option value="Tulcea" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Tulcea</span></span>">Tulcea</option>
                                             <option value="Vaslui" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Vaslui</span></span>">Vaslui</option>
                                             <option value="Vrancea" data-option-template="<span class=&quot;d-flex align-items-center&quot;><span class=&quot;text-truncate&quot;>Vrancea</span></span>">Vrancea</option>
</select>
                                       </div>
                                   </div>
                                     <div class="row mb-4">
                                        <label for="addressLine1Label" class="col-sm-3 col-form-label form-label">Address line</label>
                                        <div class="col-sm-9">
                                           <input type="text" class="form-control" name="address" id="addressLine1Label" placeholder="Your address" value="{{ request.user.profile.street }}" aria-label="Your address" >
                                        </div>
                                     </div>

                                     <div class="row mb-4">
                                        <label for="zipCodeLabel" class="col-sm-3 col-form-label form-label">Zip code <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="You can find your code in a postal address." data-bs-original-title="You can find your code in a postal address."></i></label>
                                        <div class="col-sm-9">
                                           <input type="text" class="js-input-mask form-control" name="zipCode" id="zipCodeLabel" placeholder="Your zip code" aria-label="Your zip code" value="{{ request.user.profile.zip_code }}" data-hs-mask-options="{
                                              &quot;mask&quot;: &quot;AA0 0AA&quot;
                                              }">
                                        </div>
                                     </div>
                                     <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                     </div>
                                    </form>
                               </div>
                            </div>
                           <form action="" method="POST">
                              <input type="hidden" name="form_type" value="form_2">
                              <div id="emailSection" class="card">
                                 <div class="card-header">
                                    <h4 class="card-title">Email</h4>
                                 </div>
                                 <div class="card-body">
                                    <p>Your current email address is <span class="fw-semibold">{{ request.user.email }} </span></p>
                                       <div class="row mb-4">
                                          <label for="newEmailLabel" class="col-sm-3 col-form-label form-label">New email address</label>
                                          <div class="col-sm-9">
                                             <input type="email" class="form-control" name="newEmail" id="newEmailLabel" placeholder="Enter new email address" aria-label="Enter new email address">
                                          </div>
                                       </div>
                                       <div class="d-flex justify-content-end">
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                       </div>
                                 </div>
                              </div>
                           </form>
                           <form action="" method="POST">
                              <input type="hidden" name="form_type" value="form_3">
                              <div id="passwordSection" class="card">
                                 <div class="card-header">
                                    <h4 class="card-title">Change your password</h4>
                                 </div>
                                 <div class="card-body">
                                       <div class="row mb-4">
                                          <label for="currentPasswordLabel" class="col-sm-3 col-form-label form-label">Current password</label>
                                          <div class="col-sm-9">
                                             <input type="password" class="form-control" name="currentPassword" id="currentPasswordLabel" placeholder="Enter current password" aria-label="Enter current password">
                                          </div>
                                       </div>
                                       <div class="row mb-4">
                                          <label for="newPassword" class="col-sm-3 col-form-label form-label">New password</label>
                                          <div class="col-sm-9">
                                             <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" aria-label="Enter new password">
                                          </div>
                                       </div>
                                       <div class="row mb-4">
                                          <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">Confirm new password</label>
                                          <div class="col-sm-9">
                                             <div class="mb-3">
                                                <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPasswordLabel" placeholder="Confirm your new password" aria-label="Confirm your new password">
                                             </div>
                                             <h5>Password requirements:</h5>
                                             <p class="fs-6 mb-2">Ensure that these requirements are met:</p>
                                             <ul class="fs-6">
                                                <li>Minimum 8 characters long - the more, the better</li>
                                                <li>At least one lowercase character</li>
                                                <li>At least one uppercase character</li>
                                                <li>At least one number, symbol, or whitespace character</li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="d-flex justify-content-end">
                                          <button type="submit" class="btn btn-primary">Save Changes</button>
                                       </div>
                                 </div>
                              </div>
                           </form>
                            <div id="recentDevicesSection" class="card">
                               <div class="card-header">
                                  <h4 class="card-title">Recent devices</h4>
                               </div>
                               <div class="card-body">
                                  <p class="card-text">View and manage devices where you're currently logged in.</p>
                               </div>
                               <div class="table-responsive">
                                  <table class="table table-thead-bordered table-nowrap table-align-middle card-table">
                                     <thead class="thead-light">
                                        <tr>
                                           <th>Browser</th>
                                           <th>Device</th>
                                           <th>Location</th>
                                           <th>Most recent activity</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr>
                                           <td class="align-items-center">
                                              <img style="width: 50px; height: 50px;"  class="avatar avatar-xss me-2" src="{{ MEDIA_URL}}logos/chrome.jpg" alt="Image Description"> Chrome on Windows
                                           </td>
                                           <td><i class="bi-laptop fs-3 me-2"></i> DESKTOP-EGKKMQC {% if device_name == "Windows PC" %} <span class="badge bg-soft-success text-success ms-1">Current</span> {% else %} {% endif %} </td>
                                           <td>Maramureș, Romania</td>
                                           <td>Now</td>
                                        </tr>
                                        <tr>
                                           <td class="align-items-center">
                                             {% if device_name == "iPhone" %}
                                             <img style="width: 50px; height: 50px;" class="avatar avatar-xss me-2" src="{{ MEDIA_URL}}logos/safari.png" alt="Image Description"> Safari on Iphone
                                             {% elif device_name == "Android Phone" %}
                                             <img style="width: 50px; height: 50px;"  class="avatar avatar-xss me-2" src="{{ MEDIA_URL}}logos/chrome.jpg" alt="Image Description"> Chrome on Windows
                                             {% else %}
                                             <img style="width: 50px; height: 50px;" class="avatar avatar-xss me-2" src="{{ MEDIA_URL}}logos/safari.png" alt="Image Description"> Safari on Iphone
                                             {% endif %}
                                          </td>
                                           <td><i class="bi-phone fs-3 me-2"></i> {% if device_name == "iPhone" %} Iphone {% elif device_name == "Android Phone" %} Android  {% else %} Iphone {% endif %} {% if device_name == "iPhone" %} <span class="badge bg-soft-success text-success ms-1">Current</span> {% else %} {% endif %}</td>
                                           <td>Maramureș, Romania</td>
                                           <td>15, August 2020 15:08</td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                            <form action="" method="POST">
                              <input type="hidden" name="form_type" value="form_4">
                              <div id="socialAccountsSection" class="card">
                                 <div class="card-header">
                                    <h4 class="card-title">Social accounts</h4>
                                 </div>
                                 <div class="card-body">
                                       <div class="list-group list-group-lg list-group-flush list-group-no-gutters">
                                          <div class="list-group-item">
                                             <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                   <i class="bi-facebook list-group-icon"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                   <div class="row align-items-center">
                                                      <div class="col-sm mb-2 mb-sm-0">
                                                         <h4 class="mb-0">Facebook</h4>
                                                         <a class="fs-5" href="#">www.facebook.com/htmlstream</a>
                                                      </div>
                                                      <!-- End Col -->
                                                      <div class="col-sm-auto">
                                                         <a class="btn btn-white btn-sm" href="javascript:;">Disconnect</a>
                                                      </div>
                                                      <!-- End Col -->
                                                   </div>
                                                   <!-- End Row -->
                                                </div>
                                             </div>
                                          </div>
                                          <div class="list-group-item">
                                             <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                   <i class="bi-slack list-group-icon"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                   <div class="row align-items-center">
                                                      <div class="col-sm mb-2 mb-sm-0">
                                                         <h4 class="mb-0">Slack</h4>
                                                         <p class="fs-5 text-body mb-0">Not connected</p>
                                                      </div>
                                                      <div class="col-sm-auto">
                                                         <a class="btn btn-white btn-sm" href="javascript:;">Connect</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="list-group-item">
                                             <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                   <i class="bi-linkedin list-group-icon"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                   <div class="row align-items-center">
                                                      <div class="col-sm mb-2 mb-sm-0">
                                                         <h4 class="mb-0">Linkedin</h4>
                                                         <a class="fs-5" href="#">www.linkedin.com/htmlstream</a>
                                                      </div>
                                                      <div class="col-sm-auto">
                                                         <a class="btn btn-white btn-sm" href="javascript:;">Disconnect</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="list-group-item">
                                             <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                   <i class="bi-google list-group-icon"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                   <div class="row align-items-center">
                                                      <div class="col-sm mb-2 mb-sm-0">
                                                         <h4 class="mb-0">Google</h4>
                                                         <p class="fs-5 text-body mb-0">Not connected</p>
                                                      </div>
                                                      <div class="col-sm-auto">
                                                         <a class="btn btn-white btn-sm" href="javascript:;">Connect</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                 </div>
                              </div>
                            </form>
                            <form action="" method="POST">
                              <input type="hidden" name="form_type" value="form_5">
                              <div id="deleteAccountSection" class="card">
                                 <div class="card-header">
                                    <h4 class="card-title">Delete your account</h4>
                                 </div>
                                 <div class="card-body">
                                    <p class="card-text">When you delete your account, you lose access to Front account services, and we permanently delete your personal data. You can cancel the deletion for 14 days.</p>
                                    <div class="mb-4">
                                       <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" required id="deleteAccountCheckbox">
                                          <label class="form-check-label" for="deleteAccountCheckbox">
                                          Confirm that I want to delete my account.
                                          </label>
                                       </div>
                                    </div>
                                    <div class="d-flex justify-content-end gap-3">
                                       <a class="btn btn-white" href="#">Learn more</a>
                                       <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                 </div>
                              </div>
                            </form>
                         </div>
                         <div id="stickyBlockEndPoint"></div>
                      </div>
                   </div>
                </div>
             </main>
        </div>
    </div>
</div>
<style>
    #navbarVerticalNavMenu{
        top:50px;
        padding:20px;
        padding-left:0;
    }
    .nav-item .nav-link{
        color:rgb(41, 50, 122);
    }
    .nav-item .nav-link.active {
        border-left:5px solid #D4AF37;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        color: #D4AF37; 
}
.ts-control{
   border:none;
}

</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
  var sticky = new Sticky('#navbarVerticalNavMenu');
});

</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const sections = document.querySelectorAll(".card[id]");
  const navLinks = document.querySelectorAll(".nav-link");

  console.log(sections); 
  function onScroll() {
    let currentSection = "";

    sections.forEach((section) => {
      const sectionTop = section.offsetTop;
      const sectionHeight = section.offsetHeight;

      if (window.scrollY >= sectionTop - sectionHeight / 3) {
        currentSection = section.getAttribute("id");
      }
    });

    navLinks.forEach((link) => {
      link.classList.remove("active");
      if (link.getAttribute("href") === `#${currentSection}`) {
        link.classList.add("active");
      }
    });
  }

  window.addEventListener("scroll", onScroll);
});

    </script>
<script>
    function updateImage(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('editAvatarImgModal').src = e.target.result;
        }

        if (file) {
            reader.readAsDataURL(file); 
        }
    }
</script>
<script>
   document.addEventListener("DOMContentLoaded", function () {
       new TomSelect('#test-select');
   });
</script>
    
{% endblock content %}


