{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-2 forcharts px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{% url 'home-admin' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg" alt="EventEase Logo">
                </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin-charts' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-bar-chart-line me-2"></i>
                            <span class="ms-1 d-none d-sm-inline">Charts</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 charts">
            <div class="column">
                <canvas id="EventsChart" style="max-width:100%; height:50px;"></canvas>
                <div id="myPlot" style="width:100%;max-width:700px"></div>
            </div>
            <canvas id="ProfitChart" style="width:100%; max-width:800px; height:400px;"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const locationsData = JSON.parse('{{ locations_data|escapejs }}');

    const xArray = locationsData.map(location => location.name);
    const yArray = locationsData.map(location => location.event_count);
    yArray.forEach((value, index) => {
        if (value === 0) {
            yArray[index] = null;
        }
    });
    const layout = { title: "Events based on locations" };

    const data = [{ labels: xArray, values: yArray, type: "pie" }];

    Plotly.newPlot("myPlot", data, layout);
</script>
<script>

    var datasets = [
        {
            label: 'Profit',
            data: [-960, -640, -220, 30, -80, 300, 660],
            backgroundColor: ['#3F88C5']
        }
    ]

    for (var i = 0; i < datasets[0].data.length; i++) {
        if (datasets[0].data[i] > 0) {
            datasets[0].backgroundColor[i] = '#3F88C5'
        } else {
            datasets[0].backgroundColor[i] = '#FF5E5B'
        }
    }

    var ctx = document.getElementById("ProfitChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['2014', '2015', '2016', '2017', '2018', '2019', '2020'],
            datasets: datasets
        },
    });
</script>
<script>
    const xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const yValues = [7, 6, 8, 9, 9, 9, 10, 11, 14, 14, 15, 10];

    new Chart("EventsChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                borderWidth: 2,
                data: yValues,
                segment: {
                    borderColor: ctx => {
                        const prevValue = ctx.p0.parsed.y;
                        const currentValue = ctx.p1.parsed.y;
                        return currentValue > prevValue ? "green" : "red";
                    }
                },
                pointRadius: 5,
                pointBackgroundColor: "blue",
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Events in the last 12 months",
                    font: {
                        size: 25
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        font: {
                            size: 15
                        }
                    }
                },
                y: {
                    min: 5,
                    max: 16
                }
            }
        }
    });
</script>


{% endblock content %}