<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #FAF9F6;
    }
 
    h2 {
        text-align: center;
        color: #002B5B;
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #2E8B57;
    }
    input, select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
    }
    button {
        background-color: #D4AF37;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #B8912A;
    }
</style>

<div class="form-container">
    <h2>Formular de orientare</h2>
    <form method="POST">
        {% csrf_token %}
        
        <label for="event_name">Numele evenimentului</label>
        {{ form2.event_name }}
    
        <label for="event_date">Data evenimentului</label>
        {{ form2.event_date }}
    
        <label for="event_time">Ora evenimentului</label>
        {{ form2.event_time }}
    
        <label for="event_description">Descriere eveniment</label>
        {{ form2.event_description }}
    
        <label for="location">Locație</label>
        {{ form2.location }}
    
        <label for="guests">Invitați</label>
        {{ form2.guests }}
    
        <button type="submit">Creează Eveniment</button>
    </form>
    
    
</div>

