{% extends 'main.html' %}
{% block navbar %}
{% endblock %}


{% block content %}
<style>

    .container {
        width: 80%;
        max-width: 600px;
        height: 80%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .steps {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 10%;
    }
    
    .step {
        margin:0px 5% 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ddd;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
    }
    
    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    form label {
        margin-bottom: 5px;
    }
    
    form input {
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    form button:hover {
        background-color: #45a049;
    }
    
    
    .form-container {
        display: none;
        min-height: 50%;
    }
    
    #form-1 {
        display: flex;
    }
    
    #form-1 .button-container{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .logo{
        width: 50%;
        height: 50%;
        margin-right: 0;
    }
    
    .logo_img{
        height:10%;
        width: 10%;
    }
    
</style>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!-- Sidebar Start -->
  {% include 'sidebar.html' %}
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
              <i class="ti ti-bell-ringing"></i>
              <div class="notification bg-primary rounded-circle"></div>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href=" {% url 'guest_profile' %} " id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ MEDIA_URL }}{{ profile.photo }}" alt="Ceva" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                  <a href="{% url 'guest_profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                    <i class="ti ti-user fs-6"></i>
                    <p class="mb-0 fs-3">My Profile</p>
                  </a>
                  <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!--  Header End -->
    
    <div class="container-fluid">

      <div class="title">
          <h1 class="h1 text-center">       
                On this page, {{ request.user.username }}, you will have to add some information about your preferences related to the events you will participate in.
          </h1>
          <p class="text-center">This will help the organizers in preparing the event, and at the same time the experience will be much better for you</p>
      </div>
      <hr>
      {% if not_completed %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <a href="#" class="alert-link">Sorry but you cant acces your home page until you complete your profile information!</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="container mb-4">
        <div class="steps">
            
            <div class="step" id="step-1">
                <div class="circle"></div>
                <p>Profile Setup</p>
            </div>
            <div class="step" id="step-2">
                <div class="circle"></div>
                <p>Personal Details</p>
            </div>
            <div class="step" id="step-3">
                <div class="circle"></div>
                <p>Event Details</p>
            </div>
        </div>

        <div id="form-1" class="form-container flex-column align-items-center justify-content-center">
            <h2 class="text-center">Since you just got your new account we'll have to go through and se up your profile.</h2>
            <div class = "button-container">
                <button class="btn btn-outline-success" id="accept-btn">Let's go!</button>
            </div>
        </div>
          <form method="post" action="" enctype="multipart/form-data">
            <div id="form-2" class="form-container flex-column">
                  {% csrf_token %}
                  <h2 class="text-center">Please fill with your personal details</h2>
            
                  <div class="d-grid gap-2 d-md-flex justify-content-evenly align-items-center mt-2">
                    <label for="firstname">Firsname:</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required>

                    <label for="lastname">Lastname:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required>      
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-evenly align-items-center mt-2">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required >
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-evenly align-items-center mt-2">
                    <label for="age">Varsta:</label>
                    <input type="text" class="form-control" id="age" name="age" required>
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-evenly align-items-center mt-2">
                    <label for="photo">Poza pentru accesul la eveniment:</label>
                    <input type="file" class="form-control" id="photo" name="photo" required>
                  </div>

                  <div class="d-grid gap-2 d-md-flex align-items-center mt-2">
                    <p>Gender:</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="M">
                        <label class="form-check-label" for="exampleRadios1">M</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="F">
                        <label class="form-check-label" for="exampleRadios2">F</label>
                    </div>
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-end">
                    <button class="btn btn-outline-success" type="button" id="continue-1">Continue</button>
                  </div>

              </div>

              <div id="form-3" class="form-container flex-column">
                <h2>Detalii Eveniment</h2>
                <label for="zona">Zona la masă:</label>
                <select id="zona" class="form-select" name="zona">
                    <option value="Margine">Margine</option>
                    <option value="Central">Central</option>
                    <option value="Oriunde" selected>Oriunde</option>
                    <option value="Spre_iesire">Spre iesire</option>
                    <option value="Langa_scena">Langa scena</option>
                </select>
                <!-- <label for="prieteni">Cu cine vei veni la eveniment?</label>
                <textarea id="prieteni", name="prieteni" rows="2" cols="30" placeholder="">
                    Scrie numele complet al priteninilor cu care vei veni la eveniment
                </textarea> -->
                <label for="meniu">Preferințe meniu:</label>
                <select id="meniu" class="form-select" name="meniu" required>
                    <option value="Iberic">Iberic</option>
                    <option value="Italienesc">Italienesc</option>
                    <option value="Chinezesc" selected>Chinezesc</option>
                    <option value="Fara_preferinte">Fara preferinte</option>
                    <option value="Oriental">Oriental</option>
                </select>
                    <h4>Esti vegetarian?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="vegan_check" id="inlineCheckbox1" value="1">
                        <label class="form-check-label" for="inlineCheckbox1">Da</label>
                    </div>
                    <h4>Esti alergic la ceva?</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox2" value="Lactoza">
                        <label class="form-check-label" for="inlineCheckbox2">Lactoza</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox3" value="Gluten">
                        <label class="form-check-label" for="inlineCheckbox3">Gluten</label>
                    </div>
                    <div class="form-check form-check-inline mb-2">
                        <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox4" value="Soia">
                        <label class="form-check-label" for="inlineCheckbox4">Soia</label>
                    </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-between">
                    <button type="button" id="back-2" class="btn btn-outline-dark">Back</button>
                    <button type="button" id="continue-2" class="btn btn-outline-success">Finalizeaza</button>
                  </div>
                </div> 
          
            <div id="final-page" class="form-container flex-column text-center">
                <h2>Thank you for your patience!</h2>
                <h3>We wish you a great time at your future event!</h3>
                <button type="submit" name="submit" class="btn btn-outline-success mt-2 mb-2">Check out your profile!</button>
            </div>
          </form>
      </div>
      <script>
        document.getElementById('accept-btn').addEventListener('click', function() {
        document.getElementById('form-1').style.display = 'none';
        document.getElementById('form-2').style.display = 'flex';
        document.getElementById('step-1').querySelector('.circle').style.backgroundColor = 'green';
        });
    
        document.getElementById('continue-1').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('form-2').style.display = 'none';
        document.getElementById('form-3').style.display = 'flex';
        document.getElementById('step-2').querySelector('.circle').style.backgroundColor = 'green';
        });
    
        document.getElementById('continue-2').addEventListener('click', function(e) {
        document.getElementById('step-3').querySelector('.circle').style.backgroundColor = 'green';
        document.getElementById('form-3').style.display = 'none';
        document.getElementById('final-page').style.display = 'flex';
        });
        document.getElementById('back-2').addEventListener('click', function () {
        document.getElementById('form-3').style.display = 'none';
        document.getElementById('form-2').style.display = 'flex';
        document.getElementById('step-2').querySelector('.circle').style.backgroundColor = '';
        });
    
    </script>
      {% else %}
      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row gutters-sm mt-4">
            <div class="col-lg-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" for="editAvatarUploaderModal">
                    <img src="{{ MEDIA_URL }}{{ profile.photo }}" id="editAvatarImgModal" alt="Admin" class="rounded-circle" width="150">
                    <input type="file" style="display: none;" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal" 
                                           data-hs-file-attach-options="{
                                              &quot;textTarget&quot;: &quot;#editAvatarImgModal&quot;,
                                              &quot;mode&quot;: &quot;image&quot;,
                                              &quot;targetAttr&quot;: &quot;src&quot;,
                                              &quot;allowTypes&quot;: [&quot;.png&quot;, &quot;.jpeg&quot;, &quot;.jpg&quot;]
                                            }" onchange="updateImage(event)"
                                            name="photo">
                    </label>
                                            <script>
                                              function updateImage(event) {
                                                  const file = event.target.files[0];
                                                  const reader = new FileReader();
                                          
                                                  reader.onload = function (e) {
                                                      document.getElementById('editAvatarImgModal').src = e.target.result;
                                                  }
                                          
                                                  if (file) {
                                                      reader.readAsDataURL(file); 
                                                  }
                                              }
                                          </script>                        
                    <div class="mt-3">
                      <h4>{{ profile.username }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-3 text-center">Personal informations</h5>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="firstname" class="form-control mb-0" value="{{ profile.first_name }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="lastname" class="form-control mb-0" value="{{ profile.last_name }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="email" class="form-control mb-0" value="{{ profile.email }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="number" class="form-control mb-0" value="{{ profile.number }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                      <button type="submit" id="submit" name="form_type" value="form1" class="btn btn-primary px-4">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 offset-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-3 text-center">Preferences for events</h5>

                  <div class="row align-items-center mb-3">
                    <div class="col-sm-2">
                      <h6 class="mb-0">Cuisine</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      <input type="text" name="meniu" class="form-control mb-0" value="{{ preferences.cuisine_preference }}" readonly>
                    </div>
                    <div class="col-sm-2">
                      <h6 class="mb-0">Choose cuisine</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      <select id="meniu" class="form-select" name="meniu" va aria-valuetext="{{ preferences.cuisine_preference }}">
                        <option value="Iberic">Iberic</option>
                        <option value="Italienesc">Italienesc</option>
                        <option value="Chinezesc">Chinezesc</option>
                        <option value="Fara_preferinte">Fara preferinte</option>
                        <option value="Oriental">Oriental</option>
                    </select>                   
                    </div>
                  </div>
                  <div class="row mb-3 mt-2">
                    <div class="col-sm-2">
                      <h6 class="mb-0">Allergens</h6>
                    </div>
                    <div class="col-sm-5 text-secondary justify-content-evenly">
                      <div class="form-check form-check-inline">
                          {% if "Lactoza" in preferences.allergens %}
                          <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox2" value="Lactoza" checked>
                          {% else %}
                          <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox2" value="Lactoza">
                          {% endif %}
                          <label class="form-check-label text-dark" for="inlineCheckbox2">Lactoza</label>
                      </div>
                      <div class="form-check form-check-inline">
                          {% if "Gluten" in preferences.allergens %}
                          <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox3" value="Gluten" checked>
                          {% else %}
                          <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox3" value="Gluten">
                          {% endif %}
                          <label class="form-check-label text-dark" for="inlineCheckbox3">Gluten</label>
                        </div>
                      <div class="form-check form-check-inline mb-2">
                        {% if "Soia" in preferences.allergens %}
                        <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox4" value="Soia" checked>
                        {% else %}
                        <input class="form-check-input" type="checkbox" name="allergens" id="inlineCheckbox4" value="Soia">
                        {% endif %}
                        <label class="form-check-label text-dark" for="inlineCheckbox4">Soia</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <h6 class="mb-0">Vegan</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      <div class="form-check form-check-inline">
                        {% if preferences.vegan %}
                        <input class="form-check-input" type="checkbox" name="vegan_check" id="inlineCheckbox1" value="1" checked>
                        {% else %}
                        <input class="form-check-input" type="checkbox" name="vegan_check" id="inlineCheckbox1" value="1">
                        {% endif %}
                        <label class="form-check-label text-dark" for="inlineCheckbox1">Yes</label>
                      </div>                    
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                      <button type="submit" id="submit" name="form_type" value="form2" class="btn btn-primary px-4">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </form>
      {% endif %}
    </div>

   
  </div>
</div>

{% endblock %}