{% extends 'main.html' %}
{% block navbar %}
{% endblock %}


{% block content %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

  <!-- Sidebar Start -->
    {% include 'sidebar.html' %}

  <!--  Main wrapper -->
  <div class="body-wrapper">

    <!--  Header Start -->
    {% include 'header.html' %}

    <div class="container-sm">
      <div class="row" id="event-status" data-event-id="{{ event.id }}" data-current-status="{{ event.status }}">
        {% include 'event_status_content.html' %}
      </div>
      <script>
        function checkEventStatus() {
            const eventElement = document.getElementById('event-status');
            const eventId = eventElement.dataset.eventId;
            const currentStatus = eventElement.dataset.currentStatus;

            fetch(`/event_status_api/${eventId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status !== eventElement.dataset.currentStatus) {

                        eventElement.innerHTML = data.html;
                        eventElement.dataset.currentStatus = data.status;
                        
          
                    }
                });
        }
        
        setInterval(checkEventStatus, 60000);
        
        document.addEventListener('DOMContentLoaded', checkEventStatus);
        </script>
      </div>  
  </div>
        
</div>

{% endblock %}