{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1.5fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>
            Browse Locations
        </h3>
        <div>
            <a href="{% url 'home' %}">Toate</a>
        </div>
        {% for type in types %}
        <div>
            <a href="{% url 'home' %}?q={{ type.name }}">{{ type.name }}</a>
        </div>
        {% endfor %}
        <hr>
        
    </div>
    <div>
        <h5>
            {% if location_count == 1 %}
                O singură locație existentă
            {% elif location_count == 0 %}
                Nu există nicio locație care corespunde criteriilor
            {% else %}
                Există {{ location_count }} locații disponibile
            {% endif %}
        </h5>
        {% if request.user.is_authenticated %}
        <a href="{% url 'add_location' %}">Add Location</a>
        {% endif %}
        <br>
        <br>
        <div>
            {% for location in locations %}
            <div>
                {% if request.user == location.owner %}
                <a href="{% url 'update_location' location.name %}">Update Location</a>
                {% endif %}
                <br>
                {% if request.user.is_superuser %}
                <a href="{% url 'delete_location' location.name %}">Delete Location</a>
                {% endif %}
                <h1><a style="text-decoration: none;" href="{% url 'location' location.name %}">{{ location.name }}</a>
                </h1>
                <h2>Detinut de {{ location.owner }} </h2>
                <img style="height: 200px;
                 width: auto;" src="{{ location.gallery.url }}" alt="{{ location.name }}">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div>
        Users:
        {% for user in users %}
        <ul style="list-style-type: none;">
            {% if not user.is_superuser %}
            <li>
                <a style="text-decoration: none;" href="{% url 'profile' user.username%}">{{ user.username }}</a>
            </li>
            {% endif %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock content %}