{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
<div class="col-auto col-md-2 px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i> 
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                
                    <!-- Link spre evenimente -->
                    <li>
                        <a href="#" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admin-charts' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-bar-chart-line me-2"></i> 
                            <span class="ms-1 d-none d-sm-inline">Charts</span>
                        </a>
                    </li>
                
                    <li>
                        <a href="#" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>
                
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="admin-dashboard">
                <div class="task-chat">
                    {% include 'base/chat.html' with profiles=profiles messages=messages %}
                <div class="task-data">
                    <div class="task-manager-container equal-height">
                        {% include 'base/task-manager.html' %}
                    </div>
                    <div id="myPlot" style="width:100%;max-width:700px"></div>
                </div>

                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
 const locationsData = JSON.parse('{{ locations_data|escapejs }}');
    
    const xArray = locationsData.map(location => location.name);
    const yArray = locationsData.map(location => location.event_count);
    yArray.forEach((value, index) => {
  if (value === 0) {
    yArray[index] = null; 
  }
});
    const layout = { title: "Events based on locations" };

    const data = [{ labels: xArray, values: yArray, type: "pie" }];

    Plotly.newPlot("myPlot", data, layout);
</script>

<style>

    .task-data{
        display:flex;
        flex-direction: column;
    }
    .task-chat{
        display:flex;
        flex-direction: row;
    }

    .equal-height {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: #FAF9F6;
        padding: 15px;
        border: 1px solid #ECECEC;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .task-manager-container {
        margin: auto;
        width: auto;
        grid-column: 1 / 2;
        background-color: #FAF9F6;
        border: 1px solid #ECECEC;
        border-radius: 8px;
        padding: 20px;
    }

    .admin-dashboard {
        display: flex;
        flex-direction: column;
    }
    #myPlot {
        margin-right: 5vw;
    }

    table {
        width: 200px;
        border-radius: 10px;
        margin-right: auto;
    }

    table tr {
        border: none;
        outline: 1px solid #D4AF37;
        border: 1 px solid #D4AF37;
    }

    th,
    tr {
        height: 10px;
    }
</style>
{% endblock content %}

{% block javascript %}
<script>
    scrollToBottom();
</script>
{% endblock javascript %}
