{% extends 'main.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 20%;
}

.step {
    margin:0px 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}


.form-container {
    display: none;
    min-height: 50%;
}

#form-1 {
    display: block;
}

#form-1 .button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo{
    width: 50%;
    height: 50%;
    margin-right: 0;
}

/* .logo_img{
    height:10%;
    width: 10%;
} */

</style>

<div class="container">
        <div class="steps">
            
            <div class="step" id="step-1">
                <div class="circle"></div>
                <p>Confirmare participare</p>
            </div>
            <div class="step" id="step-2">
                <div class="circle"></div>
                <p>Detalii personale</p>
            </div>
            <div class="step" id="step-3">
                <div class="circle"></div>
                <p>Detalii eveniment</p>
            </div>
        </div>

        <div id="form-1" class="form-container">
            <h2>Vrei să participi la eveniment?</h2>
            <div class = button-container>
                <button class="btn" id="accept-btn">Da</button>
                <button class="btn" id="decline-btn">Nu</button>
            </div>
        </div>

        <div id="form-2" class="form-container" >
            <h2>Introducerea datelor tale personale</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <label for="nume">Nume:</label>
                <input type="text" class="form-control" id="nume" name="nume" required>

                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>

                <label for="varsta">Varsta:</label>
                <input type="text" class="form-control" id="varsta" name="varsta" required>

                <label for="poza">Poza pentru accesul la eveniment:</label>
                <input type="file" class="form-control" id="poza" name="poza" required>

                <button type="submit" id="continue-1">Continuă</button>
            
        </div>


        <div id="form-3" class="form-container">
            <h2>Detalii Eveniment</h2>
            <label for="zona">Zona la masă:</label>
            <select id="zona" class="form-select" name="zona">
                <option value="Margine">Margine</option>
                <option value="Central">Central</option>
                <option value="Oriunde" selected>Oriunde</option>
                <option value="Spre_iesire">Spre iesire</option>
                <option value="Langa_scena">Langa scena</option>
            </select>

            <label for="meniu">Preferințe meniu:</label>
            <select id="meniu" class="form-select" name="meniu" required>
                <option value="Iberic">Iberic</option>
                <option value="Italienesc">Italienesc</option>
                <option value="Chinezesc" selected>Chinezesc</option>
                <option value="Fara_preferinte">Fara preferinte</option>
                <option value="Oriental">Oriental</option>
            </select>
                <h4>Esti alergic la ceva?</h4>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Lactoza</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Gluten</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Soia</label>
                </div>

            <button type="submit" id="submit">Finalizeaza</button>
        </form>
        </div> 

        <div id="final-page" class="form-container">
            <h2>Multumim pentu ca ai ales sa participi la eveniment</h2>
            <h3>Te asteptam cu nerabdare!!</h3>
            <button type="button" id="exit-button">Vezi detaliile evenimentului!</button>
        </div>
        <!-- <div class="Content__FormContainer-sc-3sh3bs-0 zBbTw">
            <div class="WidgetTitle__Container-sc-ruy1gu-0 hCfIOW">
               <div class="WidgetTitle__Inner-sc-ruy1gu-1 SZtf">
                  <div class="WidgetTitle__Header-sc-ruy1gu-2 eiIViH">Event Registration Form</div>
                  <div class="WidgetTitle__Caption-sc-ruy1gu-3 bdpray">Please fill out the form below to register for the event.</div>
               </div>
            </div>
            <form class="FormLayout__Container-sc-2kg2eg-0 iNyYeg">
               <div class="FieldsGrid__Grid-sc-1luipcv-0 ddugXe">
                  <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                     <div class="FormFieldLayout__Container-sc-1m85c11-4 euqRLn FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                        <label for="0i7vye0f" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">First Name</label>
                        <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                           <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                           <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                              <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                 <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                    <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">John</div>
                                    <input id="0i7vye0f" aria-required="false" placeholder="John" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 fTxTOY" value="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="FormFieldLayout__Container-sc-1m85c11-4 knnLiq FieldContainer__FieldLayout-sc-gwguj-0 iKflQj">
                        <label for="b1t2yde8" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Last Name</label>
                        <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                           <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                           <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                              <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                 <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                    <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Doe</div>
                                    <input id="b1t2yde8" aria-required="false" placeholder="Doe" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 fTxTOY" value="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                     <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 iKflQj">
                        <label for="x5ep3iyh" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Email Address</label>
                        <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                           <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                           <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                              <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                 <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                    <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">john.doe@example.com</div>
                                    <input id="x5ep3iyh" aria-required="false" placeholder="john.doe@example.com" inputmode="text" type="email" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 fTxTOY" value="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                     <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 iKflQj">
                        <label for="jbt1mwan" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Phone Number</label>
                        <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                           <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                           <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                              <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                 <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                    <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">+1 (555) 123-4567</div>
                                    <input id="jbt1mwan" aria-required="false" placeholder="+1 (555) 123-4567" inputmode="text" type="tel" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 fTxTOY" value="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                     
                  </div>
               </div>
               <div class="FieldsGrid__ButtonsGroup-sc-1luipcv-2 kBaLmY"><button size="15" aria-label="Register Now" type="button" class="ButtonBase__ButtonContainer-sc-p43e7i-3 euBiGU" tabindex="0" style="border-radius: 4px; border-color: rgba(0, 0, 0, 0); line-height: 1.32; color: rgb(255, 255, 255); font-family: inherit; font-weight: bold; font-size: 15px; font-style: normal; background-color: rgb(25, 123, 255); border-width: 2px;"><span class="ButtonBase__Overlay-sc-p43e7i-4 jhGZeV" style="padding: 8px 21px; border-radius: calc(2px); background-color: rgba(0, 0, 0, 0);"><span class="ButtonBase__Ellipsis-sc-p43e7i-5 dqiKFy">Register Now</span></span></button></div>
            </form>
         </div>-->
    </div>



<script>
        document.getElementById('accept-btn').addEventListener('click', function() {
    document.getElementById('form-1').style.display = 'none';
    document.getElementById('form-2').style.display = 'block';
    document.getElementById('step-1').querySelector('.circle').style.backgroundColor = 'green';
});

document.getElementById('decline-btn').addEventListener('click', function() {
    alert('Ne pare rău că nu poți participa!');
});

document.getElementById('continue-1').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('form-2').style.display = 'none';
    document.getElementById('form-3').style.display = 'block';
    document.getElementById('step-2').querySelector('.circle').style.backgroundColor = 'green';
});

document.getElementById('submit').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('step-3').querySelector('.circle').style.backgroundColor = 'green';
    document.getElementById('form-3').style.display = 'none';
    document.getElementById('final-page').style.display = 'block';
});


    </script>
{% endblock content %}