{% extends 'main.html' %}

{% block content %}


<form class="location-form" action="" method="POST" enctype="multipart/form-data">

{% csrf_token %}

    <div class="form_group">
        <label for="location_name">Location name</label>
        {{ form.name }}
    </div>

    <div class="form_group">
        <label for="location_description">Location Description</label>
        {{ form.description }}
    </div>


    <div class="form_group">
        <label for="location_gallery">Location Pictures</label>
        {{ form.gallery }}
    </div>

    <div class="form_group">
        <label for="location_location">Location:</label>
        {{ form.location }}
    </div>

     <div class="form_group">
        <label for="id_types">Location's Accepted Events</label>
        {{ form.types }}  
    </div>

    <div class="form_group">
        <label for="id_custom_types">Or write the types separated by commas</label>
        {{ form.custom_types }}
    </div>

    

    <div class="form_group">
        <label for="location_seats_numbers">Maximum Number of guests</label>
        {{ form.seats_numbers }}
    </div>
</div>
<input type="submit" value="Submit">


</form>


{% endblock content %}