{% extends 'main.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
{% load custom_filters %}
<style>
    .register{
    background: -webkit-linear-gradient(left, #e3c267, #ac8519);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
{% if page == 'login' %}
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex flex-column align-items-center justify-content-center col-sm-6 text-black">
                <div class="d-flex align-items-start justify-content-center px-5 ms-xl-4 mb-3">
                    <img src="{{ MEDIA_URL }}logos/logo.jpg" style="max-width:200px;" alt="">
                </div>

                <div class="d-flex align-items-center justify-content-center h-custom-2 px-5 ms-xl-4 mt-5  pt-5 pt-xl-0 mt-xl-n5">
                    <!-- Formular de login -->
                    <form method="POST" action="" style="width: 23rem;">
                        {% csrf_token %}
                        <h3 class="fw-normal mt-5 mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                        <div class="form-outline mb-4">
                            <input type="text" name="username" id="username" class="form-control form-control-lg" placeholder="Enter username" />
                            <label class="form-label" for="username">Username</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Enter password" />
                            <label class="form-label" for="password">Password</label>
                        </div>

                        <div class="pt-1 mb-4">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" type="submit" style="background:#B8912A;color:white">Login</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                        <p>Don't have an account? <a href="{% url 'register' %}" style="color:#B8912A">Register here</a></p>
                    </form>
                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{{ MEDIA_URL }}logos/bg.jpg"
                    alt="Login image" class="w-100 vh-100" style="object-fit: fill; object-position: center;">
            </div>
        </div>
    </div>
</section>


{% else %}
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <a href="{% url 'login' %}" style="color:white; border:1px solid white; padding:15px; border-radius: 20px;">Login</a>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as an Organizer</h3>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username|add_class:"form-control mb-3" }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password|add_class:"form-control mb-3" }}
                                </div>
                                <div class="form-group">
                                    <label>Gender</label>
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.photo.label_tag }}
                                    {{ form.photo|add_class:"form-control mb-3" }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email|add_class:"form-control mb-3" }}
                                </div>
                                <div class="form-group">
                                    {{ form.description.label_tag }}
                                    {{ form.description|add_class:"form-control mb-3" }}
                                </div>
                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
                           

{% endif %}
{% endblock content %}