{% extends 'main.html' %}

{% block content %}


<div class="container my-4">
    <h2 class="text-center">Evenimentele Mele</h2>
    {% if events %}
    <div class="row">
        {% for event in events %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="card-title">{{ event.event_name }}</h3>
                    <p><strong>Data:</strong> {{ event.event_date }}</p>
                    <p><strong>Ora:</strong> {{ event.event_time }}</p>
                    <p><strong>Descriere:</strong> {{ event.event_description }}</p>
                    <p><strong>Locație:</strong> {{ event.location }}</p>
                    <p><strong>Invitați:</strong> {{ event.guests.all|join:", " }}</p>

                    <!-- Butoane pentru acțiuni -->
                    <a href="{% url 'vizualizare_eveniment' event.id %}" class="btn btn-view" class="btn btn-view">Vizualizare Eveniment</a>
                    <a href="" class="btn btn-delete">Șterge Eveniment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">Nu ai creat niciun eveniment.</p>
    {% endif %}
</div>
{% include 'back_button.html' %}
{% endblock %}
