{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto siderbar forevents col-md-2 px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{% url 'home-admin' %}"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg"
                        alt="EventEase Logo">
                </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                   

                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="dropdown pb-4 mt-auto">

                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile_set.first.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'admin_account_settings' %}">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 events">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Events</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">EventEase</a></li>
                                <li class="breadcrumb-item active">Events Optimisation</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="eventList">
                        <div class="card-header bevent-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Events History</h5>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-body bevent bevent-dashed bevent-end-0 bevent-start-0">
                            <form>
                                <div class="row g-3" >
                                    <div class="col-xxl-5 col-sm-6">
                                        <div class="row g-4">
                                            <div class="col-sm">
                                                <div class="d-flex justify-content-sm" style="margin-right:auto !important;">
                                                    <div class="search-box ms-2 w-50 position-relative">
                                                        <input type="text" class="form-control" id="searchEventList" placeholder="Search Events...">
                                                        <i class="bi bi-search position-absolute top-50 translate-middle-y" style="left:90%"></i>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3 d-flex justify-content-between align-items-center" role="tablist">
    <div class="d-flex">
        <li class="nav-item" role="presentation">
            <a class="nav-link All py-3 active" data-bs-toggle="tab" href="#home1" role="tab" aria-selected="true">
                <i class="ri-store-2-fill me-1 align-bottom"></i> All Events
                <span class="badge bg-danger align-middle ms-1">{{ events_count }}</span>
            </a>
        </li>
    </div>
</ul>


                                <div class="table-responsive table-card mb-1">
                                    <div id="home1" class="tab-pane fade show active">
                                        <table class="table table-nowrap align-middle" id="eventTable">
                                            <thead class="text-muted table-light">
                                                <tr class="text-uppercase">
                                                    <th scope="col" style="width: 25px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="id">Event ID <i class="bi bi-sort"></i></th>
                                                    <th class="sort" data-sort="event_organizer">Organizer <i class="bi bi-sort-down-alt"></i></th>
                                                    <th class="sort" data-sort="date">Old Profit <i class="bi bi-sort-down-alt"></i></th>
                                                    <th class="sort" data-sort="amount">New Profit <i class="bi bi-sort-down-alt"></i></th>
                                                    <th class="sort" data-sort="payment">Old Location <i class="bi bi-sort-down-alt"></i></th>
                                                    <th class="sort" data-sort="status">New Location <i class="bi bi-sort-down-alt"></i></th>
                                                    <th class="sort" data-sort="city">Optimisation's count <i class="bi bi-sort-down-alt"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% for item in events %}
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="checkAll" value="option{{ forloop.counter0 }}">
                                                                </div>
                                                            </th>
                                                            <td class="id"><a href="{% url 'admin-view-event' item.event.id %}" class="fw-medium link-primary"> # {{ item.event.id }} </a></td>
                                                            <td class="event_organizer"> {{ item.event.event_name }} </td>
                                                            <td class="event_name"> {{ item.profit_net_old  }} $ </td>
                                                            <td class="event_date"> {{ item.profit_net_new  }} $ 
                                                                {% if item.profit_net_old < item.profit_net_new %}
                                                                <i class="h5 ms-2 text-success bi bi-graph-up-arrow"></i>
                                                                {% else %}
                                                                <i class="h5 ms-2 text-danger bi bi-graph-down-arrow"></i>
                                                                {% endif %}
                                                            </td>
                                                            <td class="amount"> {{ item.original_location.name }} </td>
                                                            <td class="payment"> {{ item.optimized_location.name }} </td>
                                                            {% if item.event.cancelled %}
                                                            <td class="status"><span class="badge bg-danger-subtle text-danger text-uppercase">Cancelled</span></td>
                                                        {% elif item.event.event_date > today_date %}
                                                            <td class="status"><span class="badge bg-info-subtle text-info text-uppercase">Upcoming</span></td>
                                                        {% elif item.event.event_date < today_date %}
                                                            <td class="status"><span class="badge bg-success-subtle text-success text-uppercase">Completed</span></td>
                                                        {% elif item.event.event_date == today_date %}
                                                            {% if item.event.event_time <= today_time %}
                                                            <td class="status"><span class="badge bg-success-subtle text-success text-uppercase">Ongoing</span></td>
                                                            {% else %}
                                                            <td class="status"><span class="badge bg-info-subtle text-info text-uppercase">Upcoming</span></td>
                                                            {% endif %}
                                                        {% endif %}
                                                            <td>
                                                               
                                                            </td>
                                                        </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="py-4 text-center no-result-message"style="display: none;">
                                            <div style="width:1185px;"></div>
                                            <h5 class="mt-4">Sorry! No events matching your criteria 
                                                <strong style="font-weight: 500;">
                                                <i class="bi bi-search"></i>
                                            </strong>.</h5>
                                         </div>
                                    </div>
                                    
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="pagination-wrap hstack gap-2" style="display: flex;">
                                        <div class="pagination listjs-pagination"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<style>
    .input-container{
        display: none;
    }
</style>
{% endblock content %}
{% block javascript %}
<script>
  const locations = [
    {% for location in locations %}
      {
        id: "{{ location.id }}",
        name: "{{ location.name|escapejs }}",
        owner_id: "{{ location.owner.id }}"
      }{% if not forloop.last %},{% endif %}
    {% empty %}
    {% endfor %}
  ];console.log(locations);
function populateLocationsForOrganizer(organizerId, selectedLocationId = null) {
    const select = document.getElementById('eventLocationSelect');
    select.innerHTML = '<option value="">Select location</option>'; 

    const filteredLocations = locations.filter(loc => loc.owner_id === organizerId);
    filteredLocations.forEach(loc => {
      const option = document.createElement('option');
      option.value = loc.id;
      option.textContent = loc.name;
      if (selectedLocationId && loc.id === selectedLocationId) {
        option.selected = true;
      }
      select.appendChild(option);
    });
  }
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rowsPerPage = 6;
        let currentPage = 1;
        let searchInput = document.getElementById("searchEventList");

        function getActiveTabRows() {
            const activeTab = document.querySelector(".tab-pane.fade.active.show");
            if (!activeTab) return [];
            const rows = activeTab.querySelectorAll("tbody.list tr");
            return rows;
        }

        function createPaginationButtons(filteredRows) {
            const paginationContainer = document.querySelector(".pagination.listjs-pagination");
            if (!paginationContainer) return;

            let totalPages = Math.ceil(filteredRows.length / rowsPerPage);

            if (totalPages === 0) {
                paginationContainer.innerHTML = "";
                return;
            }

            if (currentPage > totalPages) currentPage = totalPages;
            paginationContainer.innerHTML = "";

            let prevButton = document.createElement("button");
            prevButton.textContent = "Previous";
            prevButton.classList.add("pagination-prev");
            prevButton.disabled = currentPage === 1;
            prevButton.onclick = function () {
                if (currentPage > 1) {
                    currentPage--;
                    showPage(currentPage);
                }
            };
            paginationContainer.appendChild(prevButton);

            for (let i = 1; i <= totalPages; i++) {
                let pageButton = document.createElement("button");
                pageButton.textContent = i;
                pageButton.classList.add("page-item");
                if (i === currentPage) pageButton.classList.add("active");

                pageButton.onclick = function () {
                    currentPage = i;
                    showPage(currentPage);
                };

                paginationContainer.appendChild(pageButton);
            }

            let nextButton = document.createElement("button");
            nextButton.textContent = "Next";
            nextButton.classList.add("pagination-next");
            nextButton.disabled = currentPage === totalPages;
            nextButton.onclick = function () {
                if (currentPage < totalPages) {
                    currentPage++;
                    showPage(currentPage);
                }
            };
            paginationContainer.appendChild(nextButton);
        }

function getFilteredRows() {
    const tableRows = getActiveTabRows();

    return Array.from(tableRows).filter(row => {
        let matchesSearch = true;

        let eventName = row.querySelector(".event_name");
        if (eventName) {
            let locationName = eventName.textContent.trim().toLowerCase();
            matchesSearch = locationName.includes(searchInput.value.trim().toLowerCase());
        }
        return matchesSearch;
    });
}

function showPage(page) {
    currentPage = page;
    const allTabs = document.querySelectorAll('.tab-pane');
    const filteredRows = getFilteredRows();

    allTabs.forEach(tab => {
        const tableRows = tab.querySelectorAll('tbody.list tr');
        let noResultMessage = tab.querySelector(".no-result-message");

        if (filteredRows.length === 0) {
            if (noResultMessage) noResultMessage.style.display = "block";
            tableRows.forEach(row => row.style.display = "none");
        } else {
            if (noResultMessage) noResultMessage.style.display = "none";
        }

        const start = (page - 1) * rowsPerPage;
        const end = Math.min(start + rowsPerPage, filteredRows.length);

        tableRows.forEach(row => row.style.display = "none");
        filteredRows.slice(start, end).forEach(row => {
            row.style.display = ""; 
        });
    });

    createPaginationButtons(filteredRows);
}


        showPage(1);

        document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
            tab.addEventListener("shown.bs.tab", function () {
                const allTabs = document.querySelectorAll('.tab-pane');
                allTabs.forEach(tab => {
                    tab.classList.remove("active", "show");
                    tab.style.display = "none";
                });

                const targetTab = document.querySelector(tab.getAttribute("href"));
                targetTab.classList.add("active", "show");
                targetTab.style.display = "block";

                currentPage = 1;
                showPage(currentPage);
            });
        });

        searchInput.addEventListener("keyup", function () {
            showPage(1);
        });
    });
</script>
<script>
    document.querySelectorAll('.sort').forEach(function(header) {
    header.addEventListener('click', function() {
        var icon = header.querySelector('i');
        if (header.classList.contains('asc')) {
            header.classList.remove('asc');
            icon.classList.remove('bi-sort-down-alt');
            icon.classList.add('bi-sort-up');
        } else {
            header.classList.add('asc');
            icon.classList.remove('bi-sort-up');
            icon.classList.add('bi-sort-down-alt');
        }
    });
});
document.addEventListener('DOMContentLoaded', function () {
    const headers = document.querySelectorAll('.sort');
    let isAscending = true;

    headers.forEach(header => {
        header.addEventListener('click', function () {
            const index = Array.from(header.parentNode.children).indexOf(header);
            const rows = Array.from(document.querySelector('tbody').children);

            rows.sort((a, b) => {
                const aText = a.children[index].textContent.trim();
                const bText = b.children[index].textContent.trim();

                if (isAscending) {
                    return aText > bText ? 1 : -1;  
                } else {
                    return aText < bText ? 1 : -1;  
                }
            });

            rows.forEach(row => document.querySelector('tbody').appendChild(row));

            const icon = header.querySelector('i');
            if (isAscending) {
                header.classList.add('asc');
                header.classList.remove('desc');
            } else {
                header.classList.add('desc');
                header.classList.remove('asc');
            }

            isAscending = !isAscending;  
        });
    });
});

</script>


<style>
    .choices *{
        font-size:20px;
    }
    .flatpickr-input{
        text-align: center;
        font-size:20px;
    }
    #home1, #cancelled, #completed, #ongoing {
    display: none;
}
select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background: url('{{ MEDIA_URL }}images/right-arrow-svgrepo-com.svg') no-repeat right center;
    background-size:20px;
    padding-right: 35px !important; 
}

#home1.active, #home1.show {
    display: block;
}
    .pagination button{
        padding:10px;
        bevent:none;
        background:none;
        font-weight: 500;
        color:black;
    }
    button:disabled{
        color:rgb(164, 162, 162);
    }
</style>
{% endblock %}