{% extends 'main.html' %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center">{{ event.event_name }}</h2>
    <p><strong>Date:</strong> {{ event.event_date }}</p>
    <p><strong>Time:</strong> {{ event.event_time }}</p>
    <p><strong>Description:</strong> {{ event.event_description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Guests:</strong> {{ event.guests.all|join:", " }}</p>

    <p><strong>Status:</strong> In progress</p>

    <div class="btn-group" role="group" aria-label="Event Actions">
        <a href="{% url 'guest_list' %}" class="btn btn-success">Guest List</a>
    </div>

    {% include 'back_button.html' %}
</div>
{% endblock %}
