{% extends 'main.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  
  <!-- Sidebar -->
  {% include 'sidebar.html' %}

  <div class="body-wrapper">

    <!--  Header -->
    {% include 'header.html' %}
    
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="card card-hover">
          <div class="card-body">
            <h1 class="card-title d-flex align-items-center">
              Profile page!
            </h1>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="main-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ MEDIA_URL }}{{ location_data.gallery }}" style="object-fit: cover;" alt="{{location_owned.name}}" class="rounded-circle p-1 bg-primary" height="110" width="110">
                    <div class="mt-3">
                      <h4>{{ request.user.location_set.all.0.name }}</h4>
                      <a href="https://www.google.com/maps/place/Hotel+Romanita/@47.6298036,23.494525,17z/data=!3m1!4b1!4m9!3m8!1s0x4737de659d3fab5f:0xbee0e6c2ca827dda!5m2!4m1!1i2!8m2!3d47.6298!4d23.4970999!16s%2Fg%2F1tj_3_zt?entry=ttu&g_ep=EgoyMDI1MDIwNS4xIKXMDSoASAFQAw%3D%3D" target="_blank"><p class="text-secondary mb-1">{{ request.user.location_set.all.0.location }}  <i class="bi bi-geo-alt-fill"></i></p></a>                 
                    </div>
                  </div>
                  <hr class="my-4">
                  <div id="socialsLinks">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                        <a href="{{ profile.work_link }}" target="_blank"><span class="text-secondary">Link</span></a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram me-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                        <a href="{{ profile.instagram }}" target="_blank"><span class="text-secondary">Link</span></a>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook me-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                        <a href="{{ profile.facebook }}" target="_blank"><span class="text-secondary">Link</span></a>
                      </li>
                    </ul>                
                    <div class="d-flex align-items-center justify-content-center gap-2 text-center">
                      <button class="btn btn-primary" id="toggleSocials">Edit socials</button>
                    </div>
                  </div>
                  <div style="display: none;" id="socialsContainer">
                    <form action="" method="POST">
                      {% csrf_token %}
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex input-group mt-0 mb-0 justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0 me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg></h6>
                          <input type="text" class="form-control" name="website" value="{{ profile.work_link }}">
                        </li>
                        <li class="list-group-item d-flex input-group mt-0 mb-0 justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0 me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram me-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></h6>
                          <input type="text" class="form-control" name="instagram" value="{{ profile.instagram }}">
                        </li>
                        <li class="list-group-item d-flex input-group mt-0 mb-0 justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0 me-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook me-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></h6>
                          <input type="text" class="form-control" name="facebook" value="{{ profile.facebook }}">
                        </li>
                      </ul>                
                      <div class="d-flex align-items-center justify-content-center gap-2 text-center">
                        <button class="btn btn-warning" id="saveSocials" name="form_type" value="formSocials">Save</button>
                        <button class="btn btn-danger" id="cancelEdit">Cancel</button>
                      </div> 
                    </form>
                     
                  </div>   
                </div>
              </div>
            </div>
            <script>
              document.getElementById("toggleSocials").addEventListener("click", function () {
                document.getElementById("socialsLinks").style.display = "none";
                document.getElementById("socialsContainer").style.display = "block";
              });

              document.getElementById("saveSocials").addEventListener("click", function () {
                document.getElementById("socialsLinks").style.display = "block";
                document.getElementById("socialsContainer").style.display = "none";
              });

              document.getElementById("cancelEdit").addEventListener("click", function () {
                document.getElementById("socialsLinks").style.display = "block";
                document.getElementById("socialsContainer").style.display = "none";
              });

            </script>
            <div class="col-lg-8">
              <div class="card">
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="card-body">
                  <h1 class="card-title text-center">Contact information</h1>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Location name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="name" class="form-control" value="{{ location_data.name }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="email" class="form-control" value="{{ profile.email }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="number" class="form-control" value="{{ location_data.number }}">
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Account manager name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="username" class="form-control" value="{{ profile.username }}" readonly>
                    </div>
                  </div>
                  <div class="row mb-3 align-items-center">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="adress" class="form-control" value="{{ location_data.location }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                      <button type="submit" id="submit" name="form_type" value="form1" class="btn btn-primary px-4">Save changes</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
              <div class="row">
              <div class="col-lg-12">
                <div class="card">
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="card-body">
                    <h1 class="card-title text-center">Location information</h1>
                    <div class="row mb-3 align-items-center">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Location description</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <textarea class="form-control" name="description" rows="5" cols="50" id="">{{ location_data.description }}</textarea>                    
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Hosted event types</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ form.as_p }}
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Capacity</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="number" name="number" class="form-control" value="{{ location_data.seats_numbers }}">
                      </div>
                    </div>
                    <!-- <div class="row mb-3 align-items-center">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Account manager name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ profile.username }}">
                      </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ location_data.location }}">
                      </div>
                    </div>-->
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9 text-secondary">
                        <button type="submit" id="submit" name="form_type" value="form2" class="btn btn-primary px-4">Save changes</button>
                      </div>
                    </div> 
                  </div>
                </form>
                </div>
              </div>
            </div>
            </div>
            <div class="display-tables">
                <div class="card">
                    <div class="card-body">
                        <div class="header d-flex flex-row justify-content-between">
                          <h5 class="card-title">Tables list</h5>
                          <form action="" class="d-flex flex-row">
                            <input type="text" class="form-control me-2" name="searchGuest" id="" placeholder="Table number">
                            <button class="btn btn-primary" type="submit">Search</button>
                          </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-nowrap align-middle mb-0" id="table-table" data-location-id="{{location_data.id}}">
                              <thead>
                                  <tr class="border-2 border-bottom border-primary justify-content-center border-0">
                                      <th scope="col" class="ps-0 text-center">No</th>
                                      <th scope="col" class="text-center">Capacity</th>
                                      <th scope="col" class="ps-0 text-center">Shape</th>
                                      <th scope="col" class="text-center">Notes</th>
                              </thead>
                              <tbody class="table-group-divider">
                                  <tr class="table-row-table" data-id="">
                                      <td class="ps-0 fw-medium"></td>
                                      <td class="text-center fw-medium"></td>
                                      <td class="text-center fw-medium"></td>
                                      <td class="text-center fw-medium"></td>
                                      <td class="text-center fw-medium"></td>
                                  </tr>
                              </tbody>

                            </table>
                        </div>
                    </div>
                </div>

             <script>
                function loadTables(locationId) {
                  fetch(`/tables/${locationId}`)
                    .then(response => {
                      if (!response.ok) {
                        throw new Error('Network response was not ok');
                      }
                      return response.json();
                    })
                    .then(data => {
                      const tbody = document.querySelector('.table-group-divider');
                      tbody.innerHTML = '';

                      data.forEach((table, index) => {
                        const row = document.createElement('tr');
                        row.classList.add('table-row-table');
                        row.dataset.id = table.id;

                        row.innerHTML = `
                          <td class="ps-0 fw-medium text-center">${table.table_number}</td>
                          <td class="text-center fw-medium">${table.capacity}</td>
                          <td class="text-center fw-medium">${table.shape.charAt(0).toUpperCase() + table.shape.slice(1)}</td>
                          <td class="text-center fw-medium">${table.notes || '—'}</td>
                        `;

                        tbody.appendChild(row);
                      });
                    })
                    .catch(error => {
                      console.error('Error fetching table data:', error);
                    });
                }

                document.addEventListener('DOMContentLoaded', () => {
                  const locationId = document.getElementById("table-table").dataset.locationId;
                  loadTables(locationId);
                });
              </script>

            </div>

           


            <script>
              let formIndex = {{ formset.total_form_count }};
              const tableBody = document.querySelector('#table-list tbody');
              const emptyForm = `{{ formset.empty_form.as_p|escapejs }}`;

              document.getElementById('add-row').addEventListener('click', function () {
                const newRow = document.createElement('tr');
                newRow.classList.add('form-row');
                newRow.innerHTML = emptyForm.replace(/__prefix__/g, formIndex);

                const cells = Array.from(newRow.querySelectorAll('p')).map(p => {
                  const td = document.createElement('td');
                  td.innerHTML = p.innerHTML;
                  return td;
                });
                cells.push(createDeleteCell());
                newRow.innerHTML = '';
                cells.forEach(cell => newRow.appendChild(cell));
                tableBody.appendChild(newRow);

                formIndex++;
                document.getElementById('id_form-TOTAL_FORMS').value = formIndex;
              });

              function createDeleteCell() {
                const td = document.createElement('td');
                const btn = document.createElement('button');
                btn.type = 'button';
                btn.className = 'btn btn-danger remove-row';
                btn.textContent = 'Șterge';
                btn.onclick = () => btn.closest('tr').remove();
                td.appendChild(btn);
                return td;
              }

              document.addEventListener('click', function (e) {
                if (e.target.classList.contains('remove-row')) {
                  e.target.closest('tr').remove();
                }
              });
            </script>

            <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title text-center">Gallery</h1>
                    <form class="mb-4 justify-content-center d-flex" method="post" action="{% url 'upload_images' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                      
                      <label for="file-upload" class="me-2 custom-file-upload btn btn-secondary">
                          Upload more images
                      </label>
                      <input id="file-upload" type="file" name="images" multiple required>
                      <span id="file-chosen">files name</span>
                      <button class="btn btn-primary" type="submit">Upload</button>
                  </form>
                  
                  <style>
                      #file-upload {
                          display: none;
                      }
                  
                      .custom-file-upload {
                          cursor: pointer;
                          padding: 8px 12px;
                          border-radius: 5px;
                          display: inline-block;
                      }
                  </style>
                  <script>
                      document.getElementById("file-upload").addEventListener("change", function() {
                          let fileLabel = document.getElementById("file-chosen");
                          if (this.files.length > 0) {
                              fileLabel.textContent = this.files.length + " photos selected";
                          } else {
                              fileLabel.textContent = "No photos added";
                          }
                      });
                  </script>
                  <style>
                    .gallery-masonry {
                      column-width: 250px;
                      column-gap: 1rem;
                      width: 100%;
                    }

                    .gallery-masonry-item {
                      break-inside: avoid;
                      margin-bottom: 1rem;
                      position: relative;
                    }

                    .gallery-masonry-item img {
                      width: 100%;
                      height: auto;
                      border-radius: 6px;
                      object-fit: cover;
                      cursor: pointer;
                      transition: transform 0.2s ease-in-out;
                    }

                    .gallery-masonry-item img:hover {
                      transform: scale(1.03);
                    }

                    .gallery img:hover {
                          transform: scale(1.1);
                      }

                      .lightbox {
                          display: none;
                          position: fixed;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          background: rgba(0, 0, 0, 0.8);
                          justify-content: center;
                          align-items: center;
                          z-index: 9999;
                      }

                      .lightbox img {
                          max-width: 90%;
                          max-height: 90%;
                          border-radius: 5px;
                      }

                      .close-btn-gallery {
                          position: absolute;
                          top: 20px;
                          right: 30px;
                          font-size: 30px;
                          color: white;
                          cursor: pointer;
                      }
                      .image-container {
                          position: relative;
                          display: inline-block;
                          margin: 10px;
                      }

                      .delete-btn {
                          position: absolute;
                          bottom: 10px;
                          right: 10px;
                          background: red;
                          color: white;
                          border: none;
                          padding: 5px 8px;
                          border-radius: 50%;
                          cursor: pointer;
                          font-size: 14px;
                      }

                      .delete-btn:hover {
                          background: darkred;
                      }
                  </style>
                    <div class="row m-0 gallery">
                      <div class="gallery-masonry">

                      {% for image in location_images %}
                      <div class="gallery-masonry-item">
                        <img
                          src="{{ MEDIA_URL }}{{ image.image }}"
                          class="w-100 shadow-1-strong rounded"
                          alt=""
                          onclick="openLightbox(this)"
                          style="max-height: 235px; object-fit: cover;"
                          loading="lazy"
                        />
                        <button class="delete-btn" onclick="confirmDelete('{{ image.id }}')">
                          <i class="bi bi-trash3"></i>
                      </button>
                      </div>
                      {% empty %}
                          <p>No images stored in your gallery</p>
                      {% endfor %}
                      </div>
                    </div>
                    <div class="lightbox" id="lightbox" onclick="closeLightbox()">
                      <span class="close-btn-gallery" onclick="closeLightbox()">&times;</span>
                      <img id="lightbox-img">
                    </div>
                    <script>
                      function openLightbox(img) {
                          document.getElementById("lightbox").style.display = "flex";
                          document.getElementById("lightbox-img").src = img.src;
                      }
              
                      function closeLightbox() {
                          document.getElementById("lightbox").style.display = "none";
                      }
                      function confirmDelete(imageId) {
                          Swal.fire({
                              title: 'Delete image confirmation',
                              text: 'Are you sure you want to delete this image?',
                              icon: 'warning',
                              showCancelButton: true,
                              confirmButtonColor: '#d33',
                              cancelButtonColor: '#3085d6',
                              confirmButtonText: 'Yes, delete it!',
                              cancelButtonText: 'Cancel'
                          }).then((result) => {
                              if (result.isConfirmed) {
                                  deleteImage(imageId);
                              }
                          });
                      }

                      function deleteImage(imageId) {
                          fetch(`/delete-image/${imageId}/`, {
                              method: 'POST',
                              headers: {
                                  'X-CSRFToken': getCSRFToken(),
                                  'Content-Type': 'application/json'
                              }
                          })
                          .then(response => {
                              if (response.ok) {
                                  Swal.fire('Deleted!', 'The image has been removed.', 'success')
                                  .then(() => location.reload());
                              } else {
                                  Swal.fire('Error!', 'Could not delete the image.', 'error');
                              }
                          })
                          .catch(error => {
                              Swal.fire('Error!', error.message || 'Unknown error', 'error');
                          });
                      }

                      function getCSRFToken() {
                          return document.querySelector("[name=csrfmiddlewaretoken]").value;
                      }

                    </script>
                  </div>
                </div>  
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
