{% extends 'main.html' %}
{% block navbar %}
{% endblock %}


{% block content %}
<style>
    .live_event_section{
        display: block;
        margin: 20px 0 20px 5%;
        overflow: hidden;
        width:80%;
    }
    .live_text{
        width: 100%;
        margin-left: 2rem;
        overflow: hidden;
        padding: 0 15px 0 15px;

    }
    .live_title{
        font-size: 2rem;
    }
    .live_underline{
        height: 5px;
        background-color: black;
    }
    #img_past{
        filter: grayscale(100);
    }

</style>

<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <sv g class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"></use>
                </svg>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Customers
            </a>
        </li>
        </ul>
        <hr>
        <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
        </div>
    </div>

    <div class="container">
        <div class="live_event_section">
            <div class="live_text">
                <span class="live_title">Eventimentele din aceasta seara!</span>
            </div>
            <div class="live_underline"></div>

                    
            <div class="row row-cols-1 mt-2">
                <div class="col-3">
                    <a href="{% url 'personal_vizualizare_eveniment' %}">
                        <div class="card text-bg-dark border border-2 border-warning">                   
                            <img src="{{ MEDIA_URL }}/images/Amour_de_levenement_vXROP1r.jpg" class="card-img" alt="Nu se incarca poza">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Nunta Ana si Florea</h5>
                            <p class="card-text">The event its live!</p>
                            <p class="card-text"><small>14.05.2025</small></p>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>

        <div class="live_event_section">
            <div class="live_text">
                <span class="live_title">Evenimente viitoare</span>
            </div>
            <div class="live_underline"></div>
        </div>
        <div class="live_event_section">
            <div class="live_text">
                <span class="live_title">Evenimente trecute</span>
            </div>
            <div class="live_underline"></div>

                    
            <div class="row row-cols-1 mt-2">
                <div class="col-3">
                    <a href="{% url 'personal_vizualizare_eveniment' %}">
                        <div class="card text-bg-dark">
                            <img src="{{ MEDIA_URL }}/images/Amour_de_levenement_vXROP1r.jpg" class="card-img" id="img_past" alt="Nu se incarca poza">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Nunta Ana si Florea</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small>14.05.2025</small></p>
                        </div>
                    </div></a>
                </div>
            </div>

        </div>
     </div>   
</div>
{% endblock %}