{% extends 'main.html' %}
{% block navbar %}
{% endblock %}

{% load static %}
{% block content %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">

  <!--Sidebar-->
  {% include 'sidebar.html' %}

  <div class="body-wrapper">

    <!--  Header -->
    {% include 'header.html' %}
    
    <div class="container-fluid">

      <!-- <div class="col-lg-12 mb-4">
        <h2 class="mb-4">Filter Events</h2>
        <form id="filtersForm" class="row gy-3 gx-3 align-items-center">
            <div class="col-md-4">
                <label for="search" class="form-label">Search</label>
                <input type="text" class="form-control" id="search" placeholder="Search events...">
            </div>
            <div class="col-md-4">
                <label for="eventType" class="form-label">Event Type</label>
                <select class="form-select" id="eventType">
                    <option value="">All Events</option>
                    <option value="future">Future Events</option>
                    <option value="past">Past Events</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="filterDate" class="form-label">Filter by Date</label>
                <input type="date" class="form-control" id="filterDate">
            </div>
            <div class="col-12 text-end">
                <button type="button" id="applyFilters" class="btn btn-primary">Apply Filters</button>
                <button type="reset" id="resetFilters" class="btn btn-secondary">Reset</button>
            </div>
        </form>
      </div> -->
      
          <div class="col-lg-auto">
            <div class="card card-hover">
              <div class="card-body">
                <h1 class="card-title d-flex align-items-center">
                  Welcome this is your homepage, down below you can acces all the events organised at your location!
                </h1>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-8">
               <div class="row">
              {% if event %}

              <div class="col-lg-6 col-sm-6">
                  <div class="card card-hover">
                      <div class="card-body">
                          <h1 class="card-title d-flex align-items-center gap-2">
                            Next upcoming event!
                          </h1>
                          <p>Check out event details by accesing the event</p>
                      </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="card card-hover">
                  <div class="card-body">
                    <h1 class="card-title d-flex align-items-center gap-2">Time left until event start!</h1>
                    {% include 'timer.html' %}
                  </div>
                </div>
              </div>
              {% else %}
              <div class="col">
                <div class="card card-hover">
                  <div class="card-body p-2">
                    <h3 class="m-0 ms-2">- No upcoming event for now! -</h3>
                  </div>
                </div>
              </div>
              {% endif %}
          </div> 
          {% if event %}
          <div id="futureEventsSection">
              <div class="row">
                  <div class="col-lg-6">
                    <div class="card overflow-hidden hover-img card-hover">
                      <div class="position-relative">
                        <a href="{% url 'personal_vizualizare_eveniment' event.id %}">
                          <img src="{{ MEDIA_URL }}{{ event.location.gallery }}" class="card-img-top" style="max-height: 250px; object-fit: cover;" alt="matdash-img">
                        </a>
                        <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">{{ next_event.event_time }}</span>
                        <img src="{{ MEDIA_URL }}{{ event.organized_by.profile_set.all.0.photo }}" alt="matdash-img" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" style="width: 40px; max-height: 40px; object-fit: cover;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
                      </div>
                      <div class="card-body p-4">
                        <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm  mt-3">{{ event.organised_by }}</span>
                        <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="">{{ event.event_name }}</a>
                        <div class="d-flex align-items-center gap-4">
                          <div class="d-flex align-items-center gap-2">
                            <i class="ti ti-eye text-dark fs-5"></i>{{ event.guests.count }} guests
                          </div>
                          <div class="d-flex align-items-center gap-2">
                            <i class="ti ti-message-2 text-dark fs-5"></i> {{ event.location.seats_numbers }} seats
                          </div>
                          <div class="d-flex align-items-center fs-2 ms-auto">
                            <i class="ti ti-point text-dark"></i>{{ event.event_date }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          {% endif %}
            </div>
            <div class="col-lg-4">
            <div id='calendar'></div>
          </div>
          </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
        
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    events: '/calendar/events/',
                    eventClick: function(info) {
                        info.jsEvent.preventDefault();
                        if (info.event.url) {
                            window.location.href = info.event.url;
                        }
                    }
                });
        
                calendar.render();
            });
        </script>
        
                
      

          {% if remaining_events %}
          <div class="col-lg-12">
            <div class="card card-hover">
                <div class="card-body">
                    <h1 class="card-title d-flex align-items-center gap-2">
                        Future events planned!
                    </h1>
                </div>
            </div>
          </div>
          {% else %}
          <div class="col">
            <div class="card card-hover">
              <div class="card-body p-2">
               <h3 class="m-0 ms-2">- No more upcoming events -</h3>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row">
            {% for event in remaining_events %}         
            <div class="col-lg-4">
              <div class="card overflow-hidden hover-img card-hover">
                <div class="position-relative">
                  <a href="{% url 'personal_vizualizare_eveniment' event.id %}">
                    <img src="{{ MEDIA_URL }}{{event.location.gallery}}" class="card-img-top" style="max-height: 250px; object-fit: cover;" alt="matdash-img">
                  </a>
                  <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">{{ next_event.event_time }}</span>
                  <img src="{{ MEDIA_URL }}{{ event.organized_by.profile_set.all.0.photo }}" alt="matdash-img" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" style="width: 40px; max-height: 40px; object-fit: cover;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
                </div>
                <div class="card-body p-4">
                  <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm  mt-3">{{ event.organised_by }}</span>
                  <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="">{{ event.event_name }}</a>
                  <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center gap-2">
                      <i class="ti ti-eye text-dark fs-5"></i>{{ event.guests.count }} guests
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <i class="ti ti-message-2 text-dark fs-5"></i> {{ event.location.seats_numbers }} seats
                    </div>
                    <div class="d-flex align-items-center fs-2 ms-auto">
                      <i class="ti ti-point text-dark"></i>{{ event.event_date }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        {% if past_events %}
          <div class="col-lg-12">
            <div class="card card-hover">
                <div class="card-body p-2 d=flex align-items-center">
                    <h1 class="card-title d-flex align-items-center gap-2 p-0 m-0 h3" data-bs-toggle="collapse" href="#completedEventsCollapse" role="button" aria-expanded="false" aria-controls="completedEventsCollapse">
                        Completed events!
                      <span class="badge text-bg-primary">{{ past_events_count }}</span>
                    </h1>
                </div>
            </div>
          </div>
        {% else %}
        <div class="col">
          <div class="card card-hover">
            <div class="card-body p-2 ms-2">
             <h3 class="p-0">- No completed events -</h3>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="collapse" id="completedEventsCollapse">
          <div class="row d-flex flex-row">
          {% for event in past_events %}  
          <div class="col-lg-3">
            <div class="card overflow-hidden hover-img card-hover">
              <div class="position-relative">
                <a href="{% url 'completed_event' event.id %}">
                  <img src="{{ MEDIA_URL }}{{event.location.gallery}}" class="card-img-top" style="max-height: 200px; object-fit: cover;" alt="matdash-img">
                </a>
                <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">{{ next_event.event_time }}</span>
                <img src="{{ MEDIA_URL }}{{ event.organized_by.profile_set.all.0.photo }}" alt="matdash-img" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" style="width: 40px; max-height: 40px; object-fit: cover;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
              </div>
              <div class="card-body p-4">
                <span class="badge text-bg-light fs-2 py-1 px-2 lh-sm  mt-3">{{ event.organised_by }}</span>
                <a class="d-block my-4 fs-5 text-dark fw-semibold link-primary" href="{% url 'personal_vizualizare_eveniment' event.id %}">{{ event.event_name }}</a>
                <div class="d-flex align-items-center gap-4">
                  <div class="d-flex align-items-center gap-2">
                    <i class="ti ti-eye text-dark fs-5"></i>{{ event.guests.count }} guests
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <i class="ti ti-message-2 text-dark fs-5"></i> {{ event.location.seats_numbers }} seats
                  </div>
                  <div class="d-flex align-items-center fs-2 ms-auto">
                    <i class="ti ti-point text-dark"></i>{{ event.event_date }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}