<style>
    .task_manager {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #FAF9F6; /* Alb perlat pentru fundal */
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #002B5B; /* Bleumarin pentru text */
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    .task_manager h3 {
        color: #D4AF37; /* Auriu pentru titlu */
        font-size: 2em;
        margin-bottom: 20px;
    }

    .task_manager p {
        font-size: 1.2em;
        color: #002B5B; /* Bleumarin pentru textul de mesaj */
    }

    .task_manager button {
        background-color: #D4AF37; /* Auriu pentru buton */
        color: #FAF9F6; /* Alb perlat pentru textul butonului */
        font-size: 1.1em;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    .task_manager button:hover {
        background-color: #002B5B; /* Bleumarin la hover */
        color: #FAF9F6; /* Alb perlat pentru textul butonului */
    }

    .task_manager form{
        width:auto;
    }
    .task_manager li{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left:0;
    }
    .task_manager span,a{
        margin-left:auto;
    }
    .task_manager h5{
        text-align: left;
        margin-left:-20px;
        margin-right:20px;
        }
</style>

<div class="task_manager">
    <h3>Task Manager</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form1.as_p }}
        <button type="submit">Adaugă task</button>
    </form>
    <ul style="list-style-type: none;" >
        {% for task in tasks %}
        {% if task.user == request.user %}
            <li>
                <h5>{{ task.title }}</h5>
                {% if not task.completed %}
                    <a href="{% url 'complete_task' task.id %}">Mark as Completed</a>
                {% else %}
                    <span>Completed</span>
                {% endif %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>



