<style>
    .users-container {
        background-color: #FAF9F6; 
        padding: 15px;
        border: 1px solid #ECECEC; 
        border-radius: 8px;
        max-width: 300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        margin-top: 20px;
    }

   
    .users-title {
        font-size: 1.5em;
        color: #002B5B; 
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    
    .users-list {
        list-style-type: none; 
        padding: 0;
        margin: 0;
    }

    
    .users-list li {
        padding: 8px 10px;
        border-bottom: 1px solid #ECECEC; 
    }

    
    .users-list li a {
        text-decoration: none;
        color: #D4AF37; 
        font-weight: bold;
    }

    
    .users-list li a:hover {
        color: #2E8B57; 
        text-decoration: underline;
    }

    
    .users-list li:last-child {
        border-bottom: none;
    }
</style>

<div class="users-container">
    <div class="users-title">Users</div>
    <ul class="users-list">
        {% for user in users %}
            {% if not user.is_superuser %}
                <li>
                    <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>