{% extends 'main.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto siderbar forevents col-md-2 px-sm-1 px-0" style="flex: 0 0 12.5%; max-width: 12.5%;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{% url 'home-admin' %}"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img class="navbar-brand" style="width:100%" src="{{ MEDIA_URL }}logos/logo.jpg"
                        alt="EventEase Logo">
                </a>
                <ul class="nav nav-pills flex-column text-white mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home-admin' %}" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house"></i>
                            <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'users' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people"></i>
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'admin-events' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-calendar-event"></i>
                            <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li>
                   

                    <li>
                        <a href="{% url 'admin-locations' %}" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-geo-alt"></i>
                            <span class="ms-1 d-none d-sm-inline">Locations</span>
                        </a>
                    </li>
                </ul>

                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.profile.photo.url }}" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3 events view-">
            <div class="content container-fluid">
               <div class="row">
                  <div class="col-12">
                      <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                          <h4 class="mb-sm-0">Users List</h4>

                          <div class="page-title-right">
                              <ol class="breadcrumb m-0">
                                  <li class="breadcrumb-item"><a href="javascript: void(0);">EventEase</a></li>
                                  <li class="breadcrumb-item active">Users List</li>
                              </ol>
                          </div>

                      </div>
                  </div>
              </div>
                <!-- End Page Header -->
                <!-- Stats -->
                <div class="row">
                   <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                      <!-- Card -->
                      <div class="card h-100">
                         <div class="card-body">
                            <h6 class="card-subtitle mb-2">Total users</h6>
                            <div class="row align-items-center gx-2">
                               <div class="col">
                                  <span class="js-counter display-4 text-dark" data-value="24">24</span>
                                  <span class="text-body fs-5 ms-1">from 22</span>
                               </div>
                               <!-- End Col -->
                               <div class="col-auto">
                                  <span class="badge bg-soft-success text-success p-1">
                                  <i class="bi-graph-up"></i> 5.0%
                                  </span>
                               </div>
                               <!-- End Col -->
                            </div>
                            <!-- End Row -->
                         </div>
                      </div>
                      <!-- End Card -->
                   </div>
                   <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                      <!-- Card -->
                      <div class="card h-100">
                         <div class="card-body">
                            <h6 class="card-subtitle mb-2">Active members</h6>
                            <div class="row align-items-center gx-2">
                               <div class="col">
                                  <span class="js-counter display-4 text-dark" data-value="12">12</span>
                                  <span class="text-body fs-5 ms-1">from 11</span>
                               </div>
                               <div class="col-auto">
                                  <span class="badge bg-soft-success text-success p-1">
                                  <i class="bi-graph-up"></i> 1.2%
                                  </span>
                               </div>
                            </div>
                            <!-- End Row -->
                         </div>
                      </div>
                      <!-- End Card -->
                   </div>
                   <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                      <!-- Card -->
                      <div class="card h-100">
                         <div class="card-body">
                            <h6 class="card-subtitle mb-2">New/returning</h6>
                            <div class="row align-items-center gx-2">
                               <div class="col">
                                  <span class="js-counter display-4 text-dark" data-value="56">56</span>
                                  <span class="display-4 text-dark">%</span>
                                  <span class="text-body fs-5 ms-1">from 48.7</span>
                               </div>
                               <div class="col-auto">
                                  <span class="badge bg-soft-danger text-danger p-1">
                                  <i class="bi-graph-down"></i> 2.8%
                                  </span>
                               </div>
                            </div>
                            <!-- End Row -->
                         </div>
                      </div>
                      <!-- End Card -->
                   </div>
                  
                </div>
                <!-- End Stats -->
                <!-- Card -->
                <div class="card">
                   <!-- Header -->
                
                   <!-- End Header -->
                   <!-- Table -->
                   <div class="table-responsive datatable-custom position-relative">
                      <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                         <div class="dt-buttons">          <button class="dt-button buttons-copy buttons-html5 d-none" tabindex="0" aria-controls="datatable" type="button"><span>Copy</span></button> <button class="dt-button buttons-excel buttons-html5 d-none" tabindex="0" aria-controls="datatable" type="button"><span>Excel</span></button> <button class="dt-button buttons-csv buttons-html5 d-none" tabindex="0" aria-controls="datatable" type="button"><span>CSV</span></button> <button class="dt-button buttons-pdf buttons-html5 d-none" tabindex="0" aria-controls="datatable" type="button"><span>PDF</span></button> <button class="dt-button buttons-print d-none" tabindex="0" aria-controls="datatable" type="button"><span>Print</span></button> </div>
                         <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer" data-hs-datatables-options="{
                            &quot;columnDefs&quot;: [{
                            &quot;targets&quot;: [0, 7],
                            &quot;orderable&quot;: false
                            }],
                            &quot;order&quot;: [],
                            &quot;info&quot;: {
                            &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
                            },
                            &quot;search&quot;: &quot;#datatableSearch&quot;,
                            &quot;entries&quot;: &quot;#datatableEntries&quot;,
                            &quot;pageLength&quot;: 15,
                            &quot;isResponsive&quot;: false,
                            &quot;isShowPaging&quot;: false,
                            &quot;pagination&quot;: &quot;datatablePagination&quot;
                            }" role="grid" aria-describedby="datatable_info">
                            <thead class="thead-light">
                               <tr role="row">
                                  <th class="table-column-pe-0 sorting_disabled" rowspan="1" colspan="1" aria-label="
                                     " style="width: 44.8281px;">
                                    
                                  </th>
                                  <th class="table-column-ps-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 279.578px;">Name</th>
                                  <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 198.656px;">Position</th>
                                  <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" style="width: 174.969px;">Country</th>
                                  <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 151.062px;">Status</th>
                                  <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Portfolio: activate to sort column ascending" style="width: 202.469px;">Portfolio</th>
                                  <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Role: activate to sort column descending" style="width: 114.078px;" aria-sort="ascending">Date Joined</th>
                                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 133.359px;"></th>
                               </tr>
                            </thead>
                            <tbody>
                               {% for user in users %}
                               <tr role="row" class="{% if user.id|divisibleby:2 %} even {% else %} odd {% endif %}">
                                 <td class="table-column-pe-0">
                                 </td>
                                 <td class="table-column-ps-0">
                                    <a class="d-flex align-items-center" href="{% url 'view_user_admin' user.username %}">
                                       <div class="avatar avatar-circle">
                                          <img class="avatar-img" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50px;" src="{{ user.profile.photo.url }}" alt="Image Description">
                                       </div>
                                       <div class="ms-3">
                                          <span class="d-block h5 text-inherit mb-0">{{ user.first_name }} {{ user.last_name }} <i class="bi-patch-check-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Top endorsed" data-bs-original-title="Top endorsed"></i></span>
                                          <span class="d-block fs-5 text-body">{{ user.email }}</span>
                                       </div>
                                    </a>
                                 </td>
                                 <td>
                                    <span class="d-block h5 mb-0">Director</span>
                                    <span class="d-block fs-5">Human resources</span>
                                 </td>
                                 <td>Country Field in Profile Model</td>
                                 <td>
                                    <span class="legend-indicator bg-success"></span>Active
                                 </td>
                                 <td>
                                    <div class="d-flex align-items-center">
                                       <span class="fs-5 me-2">Salary</span>
                                       <div class="progress table-progress">
                                          <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="sorting_1">{{ user.date_joined.date }}</td>
                                 <td>
                                    <button type="button" class="btn btn-white btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal"
                                    data-username="{{ user.username }}"
                                    data-first-name="{{ user.first_name }}"
                                    data-last-name="{{ user.last_name }}"
                                    data-email="{{ user.email }}"
                                    data-number="{{ user.profile.number }}"
                                    data-photo="{{ user.profile.photo.url }}">
                                    <i class="bi-pencil-fill me-1"></i> Edit
                                 </button>

                                 </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
             <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                         <div class="js-nav-scroller hs-nav-scroller-horizontal">
                            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                            <i class="bi-chevron-left"></i>
                            </a>
                            </span>
                            <span class="hs-nav-scroller-arrow-next" style="display: none;">
                            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                            <i class="bi-chevron-right"></i>
                            </a>
                            </span>
                            <ul class="js-tabs-to-dropdown nav nav-segment nav-fill mb-5" id="editUserModalTab" role="tablist">
                               <li class="nav-item" role="presentation">
                                  <a class="nav-link active" href="#profile" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-selected="true">
                                  <i class="bi-person me-1"></i> Profile
                                  </a>
                               </li>
                               <li class="nav-item" role="presentation">
                                  <a class="nav-link" href="#change-password" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#change-password" role="tab" aria-selected="false" tabindex="-1">
                                  <i class="bi-shield-lock me-1"></i> Change password
                                  </a>
                               </li>
                            </ul>
                         </div>
                         <div class="tab-content" id="editUserModalTabContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                               <form>
                                  <div class="profile-cover">
                                     <div class="profile-cover-img-wrapper">
                                        <img id="editProfileCoverImgModal" class="img-fluid" style="height:320px; width: 100%;" src="{{ MEDIA_URL }}logos/Login Picture.jpg" alt="Image Description">
                                     </div>
                                  </div>
                                  <div style="position: relative; height: 100px; text-align: center;">
                                    <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" style="
                                      position: absolute; 
                                      top: 50%; 
                                      left: 50%; 
                                      transform: translate(-50%, -80%);
                                      margin-top: -50px;" for="editAvatarUploaderModal">
                                      <img id="editAvatarImgModal" class="rounded-circle mx-auto d-block" 
                                           style="width: 150px !important;
                                           height:150px; 
                                           border: 5px solid #fff;" 
                                           src="" alt="Image Description">
                                      
                                      <input type="file" style="display: none;" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal" 
                                             data-hs-file-attach-options="{
                                               &quot;textTarget&quot;: &quot;#editAvatarImgModal&quot;,
                                               &quot;mode&quot;: &quot;image&quot;,
                                               &quot;targetAttr&quot;: &quot;src&quot;,
                                               &quot;allowTypes&quot;: [&quot;.png&quot;, &quot;.jpeg&quot;, &quot;.jpg&quot;]
                                             }">
                                      <span class="avatar-uploader-trigger" 
                                            style="
                                              display: inline-flex; 
                                              justify-content: center; 
                                              align-items: center; 
                                              width: 40px; 
                                              height: 40px; 
                                              border-radius: 50%; 
                                              background-color: #fff; 
                                              position: absolute; 
                                              bottom: -10px; 
                                              top:90px;
                                              right: 5px;">
                                        <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
                                      </span>
                                    </label>
                                  </div>
                                  
                                  
                                  <!-- End Avatar -->
                                  <!-- Form -->
                                  <div class="row mb-4">
                                     <label for="editFirstNameModalLabel" class="col-sm-3 col-form-label form-label">Full name <i class="tio-help-outlined text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Displayed on public forums, such as Front." data-bs-original-title="Displayed on public forums, such as Front."></i></label>
                                     <div class="col-sm-9">
                                        <div class="input-group input-group-sm-vertical">
                                           <input type="text" class="form-control" name="editFirstNameModal" id="editFirstNameModalLabel" placeholder="Your first name" aria-label="Your first name" value="">
                                           <input type="text" class="form-control" name="editLastNameModal" id="editLastNameModalLabel" placeholder="Your last name" aria-label="Your last name" value="">
                                        </div>
                                     </div>
                                  </div>
                                  <!-- End Form -->
                                  <!-- Form -->
                                  <div class="row mb-4">
                                     <label for="editEmailModalLabel" class="col-sm-3 col-form-label form-label">Email</label>
                                     <div class="col-sm-9">
                                        <input type="email" class="form-control" name="editEmailModal" id="editEmailModalLabel" placeholder="Email" aria-label="Email" >
                                     </div>
                                  </div>
                                  <div class="row mb-4">
                                    <label for="editUsernameModal" class="col-sm-3 col-form-label form-label">Username</label>
                                    <div class="col-sm-9">
                                       <input type="text" class="form-control" name="editUsernameModal" id="editUsernameModal" placeholder="Username" aria-label="Username">
                                    </div>
                                 </div>
                                  <div class="row mb-4">
                                     <label for="editPhoneLabel" class="col-sm-3 col-form-label form-label">Phone <span class="form-label-secondary">(Optional)</span></label>
                                     <div class="col-sm-9">
                                        <div class="input-group input-group-sm-vertical">
                                           <input type="text" class="js-masked-input form-control" name="phone" id="editPhoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"  data-hs-mask-options="{
                                              &quot;template&quot;: &quot;+0(000)000-00-00&quot;
                                              }">
                                        </div>
                                     </div>
                                  </div>
                                  <div class="d-flex justify-content-end">
                                     <div class="d-flex gap-3">
                                        <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                     </div>
                                  </div>
                               </form>
                            </div>
                            <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                              <form>
                                 <div class="row mb-4">
                                    <label for="editUserModalCurrentPasswordLabel" class="col-sm-3 col-form-label form-label">Current password</label>
                                    <div class="col-sm-9">
                                       <div class="input-group input-group-merge">
                                          <input type="password" class="js-toggle-password form-control" name="currentPassword" id="editUserModalCurrentPasswordLabel" placeholder="Enter current password" aria-label="Enter current password" data-hs-toggle-password-options="{
                                             &quot;target&quot;: &quot;#editUserModalChangePassModalTarget&quot;,
                                             &quot;defaultClass&quot;: &quot;bi-eye-slash&quot;,
                                             &quot;showClass&quot;: &quot;bi-eye&quot;,
                                             &quot;classChangeTarget&quot;: &quot;#editUserModalChangePassModalIcon&quot;
                                             }">
                                          <a id="editUserModalChangePassModalTarget" class="input-group-append input-group-text" href="javascript:;">
                                          <i id="editUserModalChangePassModalIcon" class="bi-eye-slash"></i>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row mb-4">
                                    <label for="editUserModalNewPassword" class="col-sm-3 col-form-label form-label">New password</label>
                                    <div class="col-sm-9">
                                       <input type="password" class="js-toggle-password form-control" name="editUserModalNewPassword" id="editUserModalNewPassword" placeholder="Enter new password" aria-label="Enter new password" data-hs-toggle-password-options="{
                                          &quot;target&quot;: &quot;#editUserModalChangePassModalCheckbox&quot;
                                          }">
                                    </div>
                                 </div>
                                 <div class="row mb-4">
                                    <label for="editUserModalConfirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">Confirm new password</label>
                                    <div class="col-sm-9">
                                       <input type="password" class="js-toggle-password form-control" name="confirmNewPassword" id="editUserModalConfirmNewPasswordLabel" placeholder="Confirm your new password" aria-label="Confirm your new password" data-hs-toggle-password-options="{
                                          &quot;target&quot;: &quot;#editUserModalChangePassModalCheckbox&quot;
                                          }">
                                    </div>
                                 </div>
                                 <div class="row mb-4">
                                    <div class="col-sm-9 offset-sm-3">
                                       <div class="form-check">
                                          <input class="form-check-input null" type="checkbox" value="" id="editUserModalChangePassModalCheckbox">
                                          <label class="form-check-label" for="editUserModalChangePassModalCheckbox">
                                          Show password
                                          </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="d-flex justify-content-end">
                                    <div class="d-flex gap-3">
                                       <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                       <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                            
                         </div>
                      </div>
                   </div>
                </div>
             </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        const users = JSON.parse('{{ chartusers | escapejs }}');
        const data = new google.visualization.arrayToDataTable([
            ['Employee\'s name', 'Salary'],
            ...users.map(chartuser => [chartuser.username, chartuser.salary])
        ]);

        const options = {
            title: 'Employees salaries'
        };

        const chart = new google.visualization.BarChart(document.getElementById('myChart'));
        chart.draw(data, options);

    }
</script>
<script>
$('#editUserModal').on('show.bs.modal', function (event) {
    const button = event.relatedTarget;

    const username = button.dataset.username;
    const firstName = button.dataset.firstName;
    const lastName = button.dataset.lastName;
    const email = button.dataset.email;
    const number = button.dataset.number;
    const photo = button.dataset.photo;

    console.log({
        username: username,
        firstName: firstName,
        lastName: lastName,
        email: email,
        number: number,
        photo: photo
    });

    document.querySelector('#editUserModal #editAvatarImgModal').src = photo;
    document.querySelector('#editUserModal #editFirstNameModalLabel').value = firstName;
    document.querySelector('#editUserModal #editLastNameModalLabel').value = lastName;  
    document.querySelector('#editUserModal #editUsernameModal').value =username;  
    document.querySelector('#editUserModal #editEmailModalLabel').value = email;
    document.querySelector('#editUserModal #editPhoneLabel').value = number;
});


</script>
<script>
    $(document).ready(function () {
    $('#datatable').DataTable();
});

</script>

{% endblock %}