{% load static %}
<!DOCTYPE html>
<html>
  <body>
    <p>Bună {{ guest.username }},</p>

    <p>Contul tău pe platforma <strong>EventEase</strong> a fost creat!</p>

    <p>Detaliile de conectare la contul tău sunt:</p>
    <ul>
      <li><strong>Username:</strong> {{ guest.username }}</li>
      <li><strong>Parolă:</strong> {{ guest.password }}</li>
    </ul>

    <p>
      Intră în aplicaţie de aici:
      <a href="{{ guest_home_url }}">Vezi detalii</a>
    </p>

    <p>Cu drag,<br/>Echipa EventEase</p>
  </body>
</html>